/*1366*/
@media screen and (max-width: 1800px){
	.wrapper{min-width: 1172px;}
	.nav-list,
	.inner{width: 1172px;}
	.select-location{margin-left: 0;}
	.header-search .filter-field__search-input input{width: 200px;}
	.tabs-field_head__search-input input{width: 200px;}
	.tabs-field_head__words-item{padding:0 2px;}
	.section_video__left{
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.section_video__right{
		margin-left: 0;
	}

	.stat-item{width: 33.3333%;}
	.footer__os {float: none;text-align: center;}

	.tabs-field_list .tabs-field__column{
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}

	.tabs-field .aside_right .tabs-field_list .tabs-field__column{

		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	.tabs-field .aside_middle + .aside_right .tabs-field_list .tabs-field__column{
		/*width: 280px;*/
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.section_catalog .catalog__body .aside_left{width: 874px;}
	.list-view .catalog-item{width: 872px;}
	.map-view .catalog-item .catalog-item__aside-left,
	.list-view .catalog-item .catalog-item__aside-left{width: 659px;}
	.section_catalog .catalog__body .aside_right{width: 280px;}
	.map-view .catalog-body, .list-view .catalog-body {width: 417px;}
	.details-item__images{margin-right: 0;}
	.details-item__slider{margin-right: 0;}
	.details-item .title_map{width: auto;}
	.details-item .table_option{width: 876px;}


	.footer__app{
		clear: both;
		margin: 20px auto;
		width: 695px;
		height: 78px;
		background-image: url("../img/app-cap_long.png");
	}

	.footer__nav {margin-bottom: 15px;}
	.details-item__slide-box .slide-box__head .item{width: 200px;}
	.details-item__slide-box .table_option{width:790px;}


	.aside_left.aside_big {width: 875px;}
	.news-item__share{margin-left: 0;}
	.news-item__gallery{width: 576px;}
	.news-item__share{width: 576px;}


	.tabs-field .aside_left {width: 280px;}
	.tabs-field .aside_middle {width: 280px;}
	.tabs-field .aside_right {margin-left: 280px;}
	.tabs-field .aside_middle + .aside_right {margin-left: 560px;}

	.header-search .section_search__finder-input__result{
		left: auto;
		width: 350px;
	}
	.header-search .section_search__finder-input__result .result-info{
		font-size: 12px;
		height: 25px;
		padding-top: 9px;
	}


	.map-view .catalog-item .catalog-ins__inner .text_overflow,
	.list-view  .catalog-item .catalog-ins__inner .text_overflow{
		white-space: nowrap;
		width: 300px;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
	}

}

/*1024*/
@media screen and (max-width: 1250px){
	.wrapper{min-width: 874px;}
	.nav-list,
	.inner{
		width: 874px;
	}
	.header-logo {
		width: 113px;
		height: 42px;
		margin-top: 29px;
	}

	.header-location{
		max-width: 145px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.fixed .header-logo {
		margin-top: 19px;
	}
	.header-search .filter-field__search-input input{width: 125px;}
	.section_video .video{
		width: 874px;
		height: 505px;
	}
	.section_search__tabs-field__item_select{width: 180px;}
	.section_search__tabs-field__item_btn{width: 70px;}
	.section_search__tabs-field__item_date{width:109px;}
	.section_search__tabs-field__item_date input{width:87px;}
	.header-user .btn_brdr{margin-right: 5px;}
	.header-search{margin-right: 5px;}
	.details-item .table_option{width: 872px;}

	.stat-item{width: 50%;}
	.fit-3.tabs-field_head__search-input input{width: 102px;}

	.tabs-field .aside_left{width:250px}
	.tabs-field .aside_middle{width:250px}
	.tabs-field .aside_middle{width:250px}
	.tabs-field .aside_right{margin-left:250px}
	.tabs-field .aside_middle + .aside_right{margin-left:500px}

	.footer__nav-list{
		margin-left: 35px;
		max-width: 150px;
	}
	.footer__developer-name{margin-bottom: 10px;}
	.footer__developer{text-align: right;width: 170px;}
	.footer__developer-logo{margin-right: 0;}


	.tabs-field_list .tabs-field__column{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}

	.tabs-field .aside_right .tabs-field_list .tabs-field__column{

		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.tabs-field .aside_middle + .aside_right .tabs-field_list .tabs-field__column{
		/*width: 280px;*/
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

	.section_catalog.table-view .catalog__body .inner,
	.section_catalog.list-view .catalog__body .inner{
		position: static;
	}
	.section_catalog.table-view,
	.section_catalog.list-view{
		/*overflow: hidden;*/
	}
	.section_catalog.table-view .catalog__body .aside_right,
	.section_catalog.list-view .catalog__body .aside_right{
		position: absolute;
		top: 20px;
		right: -281px;

		-webkit-transition: right 0.2s ease;
		-moz-transition: right 0.2s ease;
		-ms-transition: right 0.2s ease;
		-o-transition: right 0.2s ease;
		transition: right 0.2s ease;
	}
	.section_catalog.table-view .catalog__body .aside_right.aside_right_show,
	.section_catalog.list-view .catalog__body .aside_right.aside_right_show{
		right: 0;
	}

	/*.section_catalog.table-view .mCSB_container, .section_catalog.list-view .mCSB_container{overflow: visible;}*/
	/*.section_catalog.table-view .mCustomScrollBox, .section_catalog.list-view .mCustomScrollBox{overflow: visible;}*/

	.section_catalog.table-view .aside_right__label,
	.section_catalog.section_catalog .aside_right__label{display: block;}



	.aside_right.aside_sml {float: none;width: 100%;}
	.aside_right.aside_sml .mCustomScrollBox{
		overflow: visible;
	}
	.aside_right.aside_sml .mCustomScrollbar{
		height: auto!important;
	}


	.aside_left.aside_sml{
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.aside_left.aside_sml .cards_news-wrapper{display: none;}
	.aside_left.aside_sml .catalog-item{width: 100%;overflow: hidden;}
	.section_info .catalog-body .catalog-btns{min-height: 45px;}
	.aside_left.aside_sml .catalog-body{position: relative;}
	.aside_left.aside_sml .catalog-rate{
		position: absolute;
		top: 0;
		right: 0;
		width: 265px;
	}
	.section_info .catalog-clubs{
		overflow: visible;
		max-height: 100%;
	}
	.section_info .catalog-body .catalog-clubs .catalog-profile{
		width: 30%;
		float: left;
	}
	.section_info .catalog-body .catalog-cont{
		width: 50%;
		float: left;
	}
	.section_info .catalog-body .catalog-cont .list li{
		display: inline-block;
		margin-right: 10px;
	}
	.section_info .catalog-body .catalog-soc{
		width: 42%;
		margin-top: 0;
		float: right;
	}


	.aside_right.aside_big{
		margin: 0;
	}


	.only_1024{display: block;}
}


