/*1366*/
@media screen and (max-width: 1800px){
	.wrapper{min-width: 1172px;}
	.nav-list,
	.inner{width: 1172px;}
	.tabs-field_head__search-input input{width: 280px;}
	.select-location{margin-left: 0;}
	.header-search .filter-field__search-input input{width: 200px;}
	.section_video__left{
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.section_video__right{
		margin-left: 0;
	}

	.stat-item{width: 33.3333%;}
	.footer__os {float: none;text-align: center;}
}

/*1024*/
@media screen and (max-width: 1250px){
	.wrapper{min-width: 874px;}
	.nav-list,
	.inner{
		width: 874px;
	}
	.header-logo {
		width: 113px;
		height: 42px;
		margin-top: 29px;
	}
	.fixed .header-logo {
		margin-top: 19px;
	}
	.header-search .filter-field__search-input input{width: 125px;}
	.section_video .video{
		width: 874px;
		height: 505px;
	}
	.section_search__tabs-field__item_select{width: 180px;}
	.section_search__tabs-field__item_btn{width: 70px;}
	.section_search__tabs-field__item_date{width:109px;}
	.section_search__tabs-field__item_date input{width:87px;}
	.header-user .btn_brdr{margin-right: 5px;}
	.header-search{margin-right: 5px;}

	.stat-item{width: 50%;}



	.footer__nav-list{margin-left: 60px;}
	.footer__developer-name{margin-bottom: 10px;}
	.footer__developer{text-align: right;width: 170px;}
	.footer__developer-logo{margin-right: 0;}
}



/*@media screen and (max-width: 1560px){}*/
/*
@media screen and (max-width: 1360px){

	.wrapper{min-width: 910px;}
	.nav-list,
	.inner{
		width: 895px;
	}

	.icon_question {
		height: 8px;
		width: 8px;
		-webkit-background-size: contain;
		background-size: contain;
	}



	.sbHolder {
		font-size: 11px;
		height: 24px;
		width: 180px;
	}
	.section__nav .sbHolder {
		width: 150px;
	}
	.section__nav .sbHolder .sbSelector {
		width: 125px;
	}
	.sbOptions a {font-size: 11px;}
	.sbToggle {
		height: 24px;
		width: 25px;
	}
	.sbSelector {
		height: 24px;
		line-height: 22px;
		text-indent: 8px;
	}

	.section__nav .section__nav-search input {
		display: block;
		font-size: 11px;
		height: 24px;
		line-height: 22px;
		width: 177px;
	}
	.section__nav .section__nav-search .filter-field__search-input__notepad {top: 2px;}
	.filter-field__search-submit {
		-webkit-background-size: 12px auto;
		background-size: 12px auto;
		height: 24px;
		width: 30px;
	}
	.section__nav .section__nav-search .filter-field__search-submit {height: 24px;}



	.header{height: 57px;}
	.header-logo{
		width: 93px;
		height: 34px;
		margin-top: 12px;
	}
	.header-location{
		font-size: 10px;
		margin: 18px 0 0 8px;
		padding: 0 15px 1px 6px;
	}
	.header-location:after {
		height: 4px;
		right: 5px;
		top: 7px;
		width: 7px;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.header-aside {
		padding-top: 18px;
	}
	.header-user .btn_brdr{
		font-size: 8px;
		height: 10px;
		padding: 5px 8px 3px;
		min-width: 14px;
	}
	.header-user .btn_profile{
		font-size: 11px;
		padding-left: 0;
		padding-right: 0;
	}
	.header-user .btn_notification{
		-webkit-background-size: 12px auto;
		background-size: 12px auto;
	}
	.header-user .btn_message{
		-webkit-background-size: 17px auto;
		background-size: 17px auto;
	}
	.btn__number {
		font-size: 7px;
		padding: 1px 2px 3px;
	}
	.header-user__logo {top: -5px;}
	.header-user__logo img {
		height: 30px;
		width: 30px;
	}
	.header-user__popups{top: 39px;}
	.header.fixed .header-user__popups {top: 39px;}
	.header-user .btn_profile:after {
		height: 4px;
		right: -10px;
		top: 10px;
		width: 7px;
	}
	.header-popup_profile {
		right: 80px;
		width: 150px;
	}
	.header.fixed .header-wrap{
		height: 57px;
	}
	.fixed .header-logo{
		margin-top: 12px;
	}
	.header.fixed .header-location{margin-top: 18px;}
	.header.fixed .header-aside{padding-top: 18px;}
	.header-popup_notification:before{right: 56px;}
	.header-popup__title{
		font-size: 11px;
		padding: 10px;
	}
	.header-popup_notification{width: 172px;}
	.header-popup__close{width: 10px;height: 10px;}
	.header-popup .header-popup__content {padding: 5px 0;}
	.header-popup_city .header-popup__content{padding: 5px 25px;}
	.header-location__popups {
		left: -90px;
		position: absolute;
		top: 57px;
	}
	.header.fixed .header-location__popups {top: 57px;}
	.header-popup .item {
		font-size: 7px;
		padding: 1px 5px 1px;
	}
	.header-popup .link {
		padding: 3px 5px 5px 5px;
	}
	.header-popup .num {
		font-size: 7px;
		line-height: 7px;
		padding: 1px 3px 3px;
	}
	.header-popup hr {
		margin: 5px 10px 3px;
	}
	.header-popup__footer{
		padding-top: 10px;
		min-height: 25px;
	}

	.header-popup__footer .btn_brdr{
		font-size: 7px;
		padding: 2px 6px 1px;
	}
	.header-popup__footer .btn_settings{margin-right: 0;}
	.header-popup__footer .btn_clear{
		margin-left: 0;
		padding-right: 18px;
		-webkit-background-size: 8px auto;
		background-size: 8px auto;
	}
	.header-popup_message .status {
		font-size: 8px;
		top: -2px;
	}
	.header-popup_message {width: 270px;}
	.header-popup_message:before {right: 15px;}

	.header-search .filter-field__search-input input {
		font-size: 11px;
		height: 20px;
		line-height: 11px;
	}
	.header-search .filter-field__search-submit {
		height: 20px;
		width: 30px;
		-webkit-background-size: 12px auto;
		background-size: 12px auto;
	}
	.filter-field__search-input__notepad {
		-webkit-background-size: 12px auto;
		background-size: 14px auto;
		height: 22px;
		right: 3px;
		width: 22px;
	}

	.header-search .filter-field__search-input input{width: 250px;}
	.header-search .filter-field__search-input .section_search__finder-input__result{right: -31px;}

	.nav{height: 25px;}
	.nav .inner{height: 25px;}
	.nav.fixed .inner {
		top: 57px;
		height: 25px;
	}
	.nav-item {font-size: 11px;}
	.nav-link {
		border-bottom-width:4px;
		padding: 6px 0 4px;
	}
	.nav__sub-list {
		margin-left: -70px;
		padding: 5px 8px;
		width: 120px;
	}
	.nav__sub-link {
		font-size: 11px;
		margin: 4px 0 7px;
	}

	.section_search{height: 470px;}

	.section_search__title{
		font-size: 21px;
		margin-top: 80px;
		margin-bottom: 20px;
	}
	.section_search__subtitle{
		font-size: 18px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.section_search__tabs-menu__item{
		font-size: 12px;
		padding: 8px 10px 10px;
	}
	.section_search__tabs-field{
		padding: 9px 12px;
	}
	.section_search__finder {
		padding: 10px 11px 5px;
		width: 505px;
	}
	.section_search__finder-examp {
		font-size: 9px;
		margin-top: 3px;
	}
	.section_search__finder-input input {
		font-size: 11px;
		height: 24px;
		line-height: 24px;
		padding: 0 30px 0 10px;
		width: 425px;
	}
	.section_search__finder-submit {
		height: 24px;
		width: 37px;
		-webkit-background-size: 11px auto;
		background-size: 11px auto;
	}
	.section_search__finder-input__notepad {
		-webkit-background-size: 12px auto;
		background-size: 12px auto;
		height: 24px;
		right: 24px;
		top: 1px;
		width: 24px;
	}

	.section_search__finder-input__clear {
		-webkit-background-size: 10px auto;
		background-size: 10px auto;
		height: 24px;
		right: 0;
		top: 1px;
		width: 24px;
	}


	.section_search__tabs-field__item_select {padding-right: 18px;margin-right: 6px;}
	.section_search__tabs-field__item_select:after{
		width: 7px;
		height: 4px;
		right: 5px;
	}
	.section_search__tabs-field__item {
		font-size: 11px;
		height: 14px;
		line-height: 11px;
		padding: 6px 10px 4px;
	}
	.section_search__tabs-field__item_btn{width: 60px;}
	.section_search__tabs-menu__target_3 .section_search__tabs-field__item_select {width: 235px;}
	.section_search__tabs-menu__target_2 .section_search__tabs-field__item_select {width: 366px;}
	.section_search__tabs-field__item_date {
		height: 26px;
		padding: 0;
		width: 125px;
		margin-right: 6px;
	}
	.section_search__tabs-field__item_date input {
		background-position: 105px 7px;
		height: 24px;
		line-height: 24px;
		width: 103px;
		-webkit-background-size: 10px auto;
		background-size: 10px auto;
	}
	.section_search__tabs-screen {top: 34px;}



	.tabs-field_head__search-input input {
		font-size: 10px;
		height: 18px;
		line-height: 18px;
		padding: 0 20px 0 6px;
		width: 230px;
	}
	.tabs-field_head__search-input__notepad {
		height: 18px;
		right: 5px;
		top: 1px;
		width: 18px;
		-webkit-background-size: 11px auto;
		background-size: 11px auto;
	}
	.tabs-field_head__search-submit{
		height: 18px;
		width: 33px;
		-webkit-background-size: 11px auto;
		background-size: 11px auto;
	}
	.tabs-field_head__words {margin-left: 7px;}
	.tabs-field_head__words-item {
		font-size: 8px;
		padding: 0 1px;
	}
	.tabs-field_head__btns-item_lang .btn_brdr{
		font-size: 8px;
		height: 18px;
		line-height: 18px;
		padding: 0 10px;
	}
	.tabs-field_head__btns-item_close .btn_brdr {
		height: 8px;
		padding: 5px 12px;
	}
	.tabs-field_head__btns-item_close .btn_brdr::after {
		height: 4px;
		right: 8px;
		width: 7px;
	}

	.tabs-field_head {
		height: 33px;
		padding: 12px 12px 0;
	}
	.tabs-field_text .result{
		padding: 2px 12px;
		font-size: 9px;
	}
	.tabs-field_text .result-item__remove {
		-webkit-background-size: 5px auto;
		background-size: 5px auto;
		height: 7px;
		top: 1px;
		width: 7px;
	}



	.input-field{font-size: 9px;}
	.input-field input{
		width: 9px;
		height: 9px;
	}
	.input-field label{padding-left: 16px;}
	.input-field .marker{
		width: 9px;
		height: 9px;
		top: 0;
	}
	.input-field input[type="checkbox"]:checked + .marker{
		-webkit-background-size: 7px auto;
		background-size: 7px auto;
	}
	.input-field input[type="checkbox"]:checked:hover + .marker{
		-webkit-background-size: 7px auto;
		background-size: 7px auto;
	}
	.input-field input[type="radio"] + .marker:before{margin: 4px;}
	.input-field input[type="radio"]:checked + .marker:before{
		height: 5px;
		margin: 2px;
		width: 5px;
	}
	.tabs-field_list {padding-left: 12px;max-height: 190px;}
	.tabs-field_list.js-scrollbar{max-height: 190px;}
	.tabs-field_list .tabs-field__column {
		padding-right: 10px;
		width: 143px;
	}
	.tabs-field .aside_right .tabs-field_list .tabs-field__column {
		width: 170px;
	}

	.fit-3.tabs-field_head__search-input input {
		width: 169px;
	}
	.tabs-field .aside_left {
		border-right: 1px solid #cfcfcf;
		height: 190px;
		width: 185px;
	}
	.tabs-field .aside_right {
		height: 190px;
		width: 707px;
	}
	.tabs-field .aside_right .tabs-field_list {
		height: 165px;
		margin: 0;
	}
	.tabs-field .aside .title, .tabs-field_list .title {
		color: #babcc1;
		font-size: 10px;
		margin: 5px 0 0;
	}

	.tabs-field_list__arrowborder .tabs-field_list__link, .tabs-field_list__metro .tabs-field_list__link {font-size: 10px;}
	.tabs-field_list__arrowborder .tabs-field_list__link, .tabs-field_list__metro .tabs-field_list__link {padding: 0 4px 2px;}
	.tabs-field_list__arrowborder .tabs-field_list__link::before,
	.tabs-field_list__metro .tabs-field_list__link:before,
	.tabs-field_list__arrowborder .tabs-field_list__link:after,
	.tabs-field_list__metro .tabs-field_list__link:after {
		border-width: 7px;
		right: -14px;
	}
	.tabs-field_list__arrowborder .tabs-field_list__link:after, .tabs-field_list__metro .tabs-field_list__link:after {
		border-width: 6px;
		right: -12px;
	}
	.tabs-field_list__metro .tabs-field_list__link .logo {
		height: 7px;
		margin-right: 5px;
		width: 13px;
	}
	.tabs-field_list__metro .tabs-field_list__link .logo:after {
		height: 9px;
		position: absolute;
		right: -5px;
		top: -1px;
		width: 9px;
	}
	.tabs-field_list__metro .tabs-field_list__link .num {
		margin-right: 2px;
		min-width: 8px;
	}
	.aside_right__footer {
		padding: 4px 10px;
	}
	.aside_right__footer .btn_brdr {
		font-size: 7px;
		margin: 0 2px;
		padding: 3px 8px 3px;
	}

	.aside_right__footer .btn_clear {
		background-position: 91% 50%;
		background-size: 7px auto;
		padding-right: 15px;
	}

	.tabs-field_list__region {padding: 8px 0;}
	.tabs-field_list__region .tabs-field_list__link .input-field label span {
		font-size: 10px;
		line-height: 10px;
		padding: 0 4px 2px;
	}
	.tabs-field_list__region .tabs-field_list__link .input-field label span:before,
	.tabs-field_list__region .tabs-field_list__link .input-field label span:after {
		border-width: 7px;
		right: -5px;
		top: -1px;
	}
	.tabs-field_list__region .tabs-field_list__link .input-field label span:after {
		border-width: 6px;
		right: -3px;
		top: 0;
	}
	.tabs-field_list__region .tabs-field_list__link .input-field {margin: 0;}

	.datepicker{
		font-size:8px;
		width: 123px;
		height: 123px;
	}
	.datepicker .dow:first-child,
	.datepicker tbody tr td:first-child {padding-left: 5px;}
	.datepicker tbody tr td:last-child {padding-right: 5px;}
	.datepicker .datepicker-header {
		height: 20px;
		font-size: 10px;
	}
	.datepicker .datepicker-header th {padding: 1px 0 2px;}
	.datepicker .datepicker-header .prev i,
	.datepicker .datepicker-header .next i {
		height: 10px;
		width: 10px;
		font-size: 9px;
	}
	.datepicker .day i {
		height: 10px;
		line-height: 10px;
		min-width: 10px;
	}
	.datepicker .month, .datepicker .year {padding: 7px 0;}
	.datepicker .month i, .datepicker .year i{
		height: 14px;
		line-height: 12px;
		margin: 2px;
		padding: 0 4px;
	}
	.datepicker .dow {
		padding: 3px 0 5px;
		text-align: center;
		width: 10%;
	}
	.datepicker .datepicker-cp {padding-top: 7px;}
	.datepicker .month, .datepicker .year {padding: 5px 0;}




	.cards-item .cards-item__inner {width: 169px;}
	.cards-item_big .cards-item__inner {width: 350px;}
	.btn_min {font-size: 7px;}



	.section_search__finder-input__result{font-size: 12px;}
	.section_search__finder-input__result .result-wrap{max-height: 545px;}
	.section_search__finder-input__result .text{margin: 5px 12px;}
	.section_search__finder-input__result .title{margin: 5px 0 7px;}
	.section_search__finder-input__result .part{
		margin: 10px 0 0;
		padding: 0 10px 10px;
	}
	.section_search__finder-input__result .item{
		margin: 3px 10px;
		padding-bottom: 3px;
	}
	.section_search__finder-input__result .result-info {
		bottom: -27px;
		font-size: 10px;
		height: 19px;
		padding: 7px 10px 0;
	}
	.section_search__finder-input__result .result-info a{margin-right: 10px;}
	.section_search__finder-input__result .part_item .item{margin-top: 5px;}
	.section_search__finder-input__result .item .item-img{
		width: 30px;
		height: 30px;
	}
	.section_search__finder-input__result .item .item-text{
		margin-left: 40px;
		margin-top: 3px;
	}
	.section_search__finder-input__result .item .item-text .info{
		margin-top: 2px;
		font-size: 10px;
	}
	.section_search__finder-input__result .item .item-img img{
		width: 30px;
		height: 30px;
	}




	.section_video .video{
		width: 700px;
		height: 396px;
	}



	.section__subtitle, .section__title{font-size: 20px;}
	.wrapper_front .section__title {margin: 40px 0 25px;}
	.tab__menu-link{font-size: 12px;}
	.cards {margin: 0 -5px;}
	.cards-item {
		font-size: 12px;
		margin: 5px;
	}
	.cards-item:hover .cards-item__inner {
		left: 3px;
		top: -3px;
	}
	.cards_category .cards-item__inner {
		height: 139px;
		width: 169px;
	}
	.tab__menu {margin: 35px 0 15px;}
	.cards_category .cards-title__img .icon {
		height: 43px;
		width: 43px;
	}
	.cards_category .cards-title {margin: -10px 6px 0;}
	.cards_category .cards-title__text {
		font-size: 10px;
		padding-left: 5px;
	}
	.cards_category .cards-descr .text {
		bottom: 6px;
		font-size: 9px;
		left: 18px;
	}
	.cards-btn {
		bottom: 5px;
		right: 5px;
	}
	.cards-btn .btn_brdr {
		font-size: 10px;
		padding: 1px 6px 3px;
	}
	.section__more{margin-top: 20px;}
	.section__more .btn_brdr {
		font-size: 11px;
		padding: 7px 15px 8px;
	}



	.pie-diagram {font-size: 14px;}
	.pie-diagram_big {
		height: 232px;
		width: 232px;
	}
	.pie-diagram_min {
		height: 69px;
		width: 69px;
	}
	.stat-item__text {font-size: 13px;}
	.stat__city-title{
		font-size: 14px;
		margin-bottom: 15px;
	}
	.stat__city-select .select-title {
		font-size: 14px;
		max-width: 160px;
		padding: 5px 29px 6px 16px;
	}
	.stat__city-descr {
		font-size: 10px;
		margin-top: 15px;
	}
	.stat__city-select .select-title:after{
		height: 5px;
		margin-top: -2px;
		right: 10px;
		width: 8px;
	}







	.cards_articles .cards-item__inner {
		height: 124px;
		width: 289px;
	}
	.cards_articles .cards-item .cards-title {
		height: 35px;
		margin: 5px 5px 0;
	}
	.cards_articles .cards-title__img img {
		height: 28px;
		width: 28px;
	}
	.cards_articles .cards-title__text{
		font-size: 11px;
		line-height: 11px;
		padding: 0 5px;
		top: -3px;
	}
	.cards_articles .cards-title__text .descr {font-size: 7px;}

	.cards_articles .cards-img {
		height: 83px;
		margin-right: 6px;
		width: 112px;
	}
	.cards_articles .cards-item_pic .cards-descr {margin-left: 120px;padding: 3px 0;}
	.cards_articles .cards-descr .text {font-size: 10px;}
	.cards_articles .cards-btn {right: 11px;}
	.cards_articles .cards-item .cards-legend {
		bottom: 7px;
		right: 70px;
		font-size: 9px;
	}
	.cards_articles .cards-item .cards-legend__look{
		-webkit-background-size: 13px auto;
		background-size: 13px auto;
		padding-left: 17px;
	}
	.cards_articles .cards-item .cards-legend__comment{
		-webkit-background-size: 13px auto;
		background-size: 13px auto;
		padding-left: 17px;
	}

	.cards_articles .cards-item_cont .cards-descr {margin-left: 5px;}
	.cards_articles .cards-item_cont .cards-item__inner {
		height: 170px;
		width: 169px;
	}
	.cards_articles .cards-item_big .cards-item__inner {
		height: 170px;
		width: 710px;
	}
	.cards_articles .cards-item_big .cards-img {
		height: 169px;
		width: 420px;
	}



	.section_competition .menu-item {
		height: 51px;
		margin: 0 7px;
		width: 51px;
		-webkit-background-size: 100%;
		background-size: 100%;
	}
	.section_competition .menu-item .manu-inner {
		height: 49px;
		width: 49px;
	}
	.section_competition .menu-item:hover .manu-inner {
		right: -3px;
		top: -3px;
	}
	.section_competition .cards-item__inner {height: 252px;}

	.section_competition .cards-item .cards-title {margin: 5px 5px 0;}
	.section_competition .cards-info {margin: 5px;}
	.section_competition .cards-title__img img {
		height: 30px;
		width: 30px;
	}
	.section_competition .cards-title__text {font-size: 11px;}
	.section_competition .cards-info .cards-details {
		font-size: 9px;
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.section_competition .cards-info .cards-descr {
		max-height: 33px;
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.section_competition .cards-info .cards-descr .text {font-size: 10px;}
	.section_competition .cards-btn {right: 13px;}
	.section_competition .cards-title__text {padding: 0 5px;}




	.cards_news .cards-title__img img {
		height: 28px;
		width: 28px;
	}
	.cards_news .cards-item .cards-title {margin: 5px 6px 0;}
	.cards_news .cards-title__text {
		font-size: 11px;
		padding: 0 4px;
	}
	.cards_news .cards-title__text .date {font-size: 9px;}
	.cards_news .cards-descr {margin: 5px 10px;}
	.cards_news .cards-descr .title {
		font-size: 11px;
		margin-bottom: 5px;
	}
	.cards_news .cards-descr .text {font-size: 10px;}
	.cards_news .cards-descr .text_b {font-size: 10px;}
	.cards_news .cards-item_big .cards-descr .text {font-size: 10px;}
	.cards_news .cards-item_big .cards-descr {margin: -6px 60px 0 40px;}
	.cards_news .cards-btn {right: 11px;}
	.cards_news .cards-item__inner {height: 205px;}
	.sponsors-item{
		height: 140px;
		width: 270px;
	}
	.text-col{font-size: 11px;}




	.footer__os {margin-top: 30px;}
	.footer__nav{
		font-size: 11px;
		margin-top: 25px;
	}
	.footer__nav-item{margin-bottom: 7px;}
	.footer__nav-item_ttl {
		font-size: 13px;
		margin-bottom: 12px;
	}
	.footer__nav-list {margin-left: 45px;}
	.footer__soc-link {
		height: 22px;
		width: 22px;
	}
	.footer__soc-item{margin-left: 4px;}
	.footer__app{
		width: 212px;
		margin-bottom: 15px;
	}
	.footer__app img{width: 100%;}
	.footer__soc {margin-bottom: 8px;}
	.footer__copyright{font-size: 9px;}
	.footer__pay-link,
	.footer__pay-link img {
		height: 18px;
		width: 27px;
	}
	.footer__pay-item {margin-left: 4px;}
	.footer__info{font-size: 9px;}
	.footer__info-item {margin-left: 10px;}
	.footer__info-item_age {
		padding: 2px 2px 3px 4px;
		top: 1px;
	}
	.footer__developer{font-size: 9px;}
	.footer__developer-logo img{
		width: 77px;
		height: 22px;
	}
	.footer__pay-list {margin: 10px 0;}
	.footer .inner_bottom {padding-bottom: 35px;}





	.section_breadcrumbs .inner {padding: 15px 0;}
	.breadcrumbs-item {font-size: 10px;}
	.breadcrumbs-item a:after {top: 5px;}
	.section__subtitle, .section__title {margin: 15px 0;}
	.section__nav .section__nav-field_select .label {font-size: 11px;margin-right: 6px;}



	.cards-item_more .cards-item__inner .cards-load .title {font-size: 13px;}
	.cards-item_more .cards-item__inner .cards-load .text {font-size: 10px;}
	.cards-item_more .cards-item__inner .cards-load .icon {
		height: 30px;
		width: 30px;
	}
	.cards-item_more .cards-item__inner .cards-load .icon:before,
	.cards-item_more .cards-item__inner .cards-load .icon:after {
		left: 15px;
		top: 15px;
	}
}

*/




