.wrapper_auth{
	background: url("../img/bg/bg-cup-01.jpg") no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 100%!important;
}

.auth-box{
	margin-left: 50%;
	color: #4c4c4c;

	padding: 150px 0 20px;
}
.auth-box input[type=password],
.auth-box input[type=text]{
	padding: 0 9px;
	height: 31px;
	line-height: 31px;
	margin: 0;
	font: inherit;
	color: #4c4c4c;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.auth-box input[type=password].focus,
.auth-box input[type=password]:focus,
.auth-box input[type=text].focus,
.auth-box input[type=text]:focus{
	border-color: #70b2c3;
	color: #70b2c3;
}

.auth-box_login .box-inner{
	width: 350px;
	margin-left: -175px;
}
.auth-box .box-logo{
	text-align: center;
	margin-bottom: 45px;
}
.auth-box .box-logo img{
	width: 140px;
}

.auth-box .box-content{
	background: #f2f2f2;
	padding: 25px 40px;
}
.auth-box .box-content .title{
	color: #4b4b4b;
	font-size: 24px;
	text-align: center;
	margin: 10px 0 20px;
}
.auth-box .box-content .field{
	margin: 0 0 12px;
	color: #939393;
	font-size: 15px;
}
.auth-box .box-content .fields-col .field{
	width: 50%;
	float: left;
	padding-left: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.auth-box .box-content .fields-col .field:first-child{
	width: 50%;
	float: left;
	padding: 0 5px 0 0;
}

.auth-box .box-content .field .label{
	margin: 0 0 10px;
}
.auth-box .box-content .field .input{position: relative;}
.auth-box .box-content .field .input .password-eye{
	background: url("../img/icons/icon-eye-d.svg") no-repeat 50% 50%;
	cursor: pointer;
	height: 29px;
	opacity: 0.5;
	position: absolute;
	right: 5px;
	top: 1px;
	width: 29px;
}
.auth-box .box-content .field .input .password-eye + input{
	padding-right: 35px;
}
.auth-box .box-content .field .input .password-eye:active,
.auth-box .box-content .field .input .password-eye:hover{
	background: url("../img/icons/icon-eye-c.svg") no-repeat 50% 50%;
	opacity: 1;
}
.auth-box .box-content .field .input .password-eye:active + input[type=password],
.auth-box .box-content .field .input .password-eye:hover + input[type=password]{
	border-color: #70b2c3;
	color: #70b2c3;
}
.auth-box .box-content .field .message{
	font-size: 11px;
	margin: 5px 0;
	color: #4b4b4b;
	line-height: 1.2;
}
.auth-box .box-content .field .btn_brdr{
	border-color: #3fb4c6;
	background: #3fb4c6;
	color: #fff;
	padding: 7px 10px 7px;
	width: 100%;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 12px;
}


.auth-box .box-content_pass-recovery{
	border-top: 1px solid #cfcfcf;
	background: #fff;
}
.auth-box .box-content_pass-recovery .recover-pass{
	text-align: center;
	color: #959595;
	cursor: pointer;
}
.auth-box .box-content_pass-recovery .recover-form{
	display: none;
}
.auth-box .box-content_pass-recovery .field .btn_brdr{
	background: #5f6773;
	border-color: #5f6773;
}





.auth-box .box-footnote{
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-top: 25px;
}









.auth-box_reg{
	padding: 80px 0 20px;
}
.auth-box_reg .box-inner{
	width: 410px;
	margin-left: -205px;
}
.auth-box_reg .input-field .sub{
	font-size: 14px;
	color: #959595;
}
.auth-box_reg .field_org{display: none;}
.auth-box_reg .field_coach{display: none;}
.auth-box_reg-org .field_org{display: block;}
.auth-box_reg-coach .field_coach{display: block;}



.auth-box .pass-security{
	position: absolute;
	background: #fff;
	border: 1px solid #cecece;
	width: 340px;
	left: 0;
	margin-left: -380px;
	color: #4c4c4c;
	font-size: 11px;
	padding: 10px 13px;
	top: 0;
	display: none;
}
.auth-box .pass-security:before,
.auth-box .pass-security:after{
	content: '';
	position: absolute;
	display: block;
	border: 8px solid transparent;
	border-left: 10px solid #cecece;
	top: 8px;
	right: -18px;
}
.auth-box .pass-security:after{
	border-left: 10px solid #fff;
	right: -17px;
}
.auth-box .pass-security .head{
	border-bottom: 1px solid #cecece;
	padding: 0px 5px 5px;
}
.auth-box .pass-security .head .title{
	font-size: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin: 0;
	margin-right: 10px ;
	display: inline-block;
	border-right: 2px solid #817e7e;
	font-weight: 600;
}
.pass-security .head .status{
	font-size: 15px;
	padding-bottom: 5px;
	margin: 0;
	display: inline-block;
	color: #cc252a;
}
.pass-security .head .status .status-marker{
	display: inline-block;
	position: relative;
	width: 7px;
	height: 7px;
	border: 1px solid currentColor;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 3px;
	display: none;
}
.pass-security .status-text{font: inherit;}
.pass-security .status_1 .status-marker,
.pass-security .status_2 .status-marker,
.pass-security .status_3 .status-marker{display: inline-block!important;}

.pass-security .status_1{color: #cc262a!important;}
.pass-security .status_2{color: #d97a2d!important;}
.pass-security .status_3{color: #aec748!important;}

.pass-security .status_1 .status-marker_1{background: currentColor;}
.pass-security .status_2 .status-marker_1, .pass-security .status_2 .status-marker_2{background: currentColor;}
.pass-security .status_3 .status-marker_1, .pass-security .status_3 .status-marker_2, .pass-security .status_3 .status-marker_3{background: currentColor;}

.auth-box .pass-security .body{
	padding: 5px ;
}
.auth-box .pass-security .body a{
	color: #3fb4c6;
}
.auth-box .pass-security .close{
	position: absolute;
	width: 14px;
	height: 14px;
	top: 11px;
	right: 9px;
	cursor: pointer;
	background: url("../img/icons/icon-input_clear.svg") no-repeat 50% 50%;
}
.auth-box .pass-security .close:hover{
	background: url("../img/icons/icon-input_clear-c.svg") no-repeat 50% 50%;
}
