
.section-location{
	background: #272a33;
	color: #fff;
	display: none;
}

.select-location{
	margin: 40px 0 20px 180px;
	line-height: 1.5;
}
.select-location .link{
	display: inline-block;
	text-decoration: none;
}
.select-location .link:hover{
	text-decoration: underline;
	color: #3399ff;
}
.select-location .link.active{
	color: #3399ff;
}
.select-location__country{
	font-size: 16px;
	margin: 0 0 15px;
}
.select-location__country-cities{display: none;}
.select-location__country-cities.active{display: block;}
.select-location__country .link{margin-right: 20px;}
.select-location__input{
	margin: 0 0 15px;
}
.select-location__input-field{
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	position: relative;
}
.select-location__input-field input{
	padding: 5px 8px;
	width: 350px;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	font-size: inherit;
}
.select-location__input-result{
	width: 368px;
	position: absolute;
	left: 0;
	top: 30px;
	background: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.select-location__input-result a{
	color: #323232;
	padding: 3px 8px 5px;
	text-decoration: none;
	display: block;
}
.select-location__input-result a:hover{
	text-decoration: underline;
}
.select-location__input span{
	color: #c0c0cc;
	display: inline-block;
	vertical-align: middle;
}
.select-location__capitals{
	border-bottom: 1px solid #4a4c54;
	padding-bottom: 8px;
		margin-bottom: 5px;
}
.select-location__capitals .link{margin-right: 16px;}
.select-location__words{
	margin-bottom: 8px;
}
.select-location__words .link{margin-right: 15px;}
.select-location__capitals-word{
	font-size: 18px;
	color: #3399ff;
	margin-bottom: 3px;
}
.select-location__cities{}
.select-location__cities-group{
	display: inline-block;
	margin-right: 50px;
}
.select-location__cities-group .link{
	display: block;
	color: #c0c0cc;
}
.select-location__close{
	text-align: center;
	margin-top: 30px;
}
.select-location__close .btn_brdr{
	color: #c0c0cc;
	font-size: 16px;
	border-color: #7b7d81;
	padding: 4px 36px 8px 20px;
}
.select-location__close .btn_brdr:after{
	content: '';
	background: url("../img/global/arrow-up-w.svg") no-repeat 0 0;
	width: 10px;
	height: 5px;
	position: absolute;
	top: 12px;
	right: 17px;
	display: block;
}
.select-location__close .btn_brdr:hover{
	color: #fff;
	border-color: #3399ff;
	background-color: #3399ff;
}

/**/
.section_search{
	height: 760px;
	background: url("../img/bg/front-bg.jpg") no-repeat 50% 50%;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	position: relative;
}


.section_search .inner{
	/*width: 100%;*/
}

.section_search .section-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #969aa5;
}
.section_search .section-bg_item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-position: 50% 50%;
	background-size: cover;
	transition: opacity 0.5s ease;
}

.section_search .section-bg_item.active{
	opacity: 1;
}


.section_search__title{
	font-size:30px;
	color:#000;
	margin-bottom: 20px;
}
.section_search__subtitle{
	font-size:30px;
	color:#000;
	margin-bottom: 15px;
}
.section_search__tabs{
	background:#fdfdfd;
	display: inline-block;
	padding: 15px 80px 0 0;
	margin-top: 185px;
	position: relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-width:100%;
	min-width:92%;
}
.section_search__tabs hr{
	margin: 0 -20px;
	position: relative;
}
.section_search__tabs:before{
	 content: '';
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: -100%;
	 right: 100%;
	 background:#fdfdfd;
 }
.section_search__tabs-menu{
	/*display:table;*/
	/*width:100%;*/
	/*white-space: nowrap;*/
	margin-bottom: 20px;
}
.section_search__tabs-menu__item{
	display:inline-block;
	color:#010101;
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
	font-size:14px;
	line-height: 28px;
	height: 28px;
	font-weight:400;
	background: #fff;
	padding:0 15px;
	border:1px solid #cccccc;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-right: 10px;
	margin-bottom: 10px;
}
.section_search__tabs-menu__item:hover{
	border-color:#3399ff;
}
.section_search__tabs-menu__item.active:hover,
.section_search__tabs-menu__item.active{
	background:#cae4fe;
	border-color:#cae4fe;
}

.section_search__tabs-menu__target{display:none;position:relative}
.section_search__tabs-menu__target.active{display:block;}




.section_search__tabs-field{
	background:#fdfdfd;
	padding:16px 0 20px;
	font-size:0;
}
.section_search__tabs-field__item{
	display:inline-block;
	border:1px solid #cfcfcf;
	padding:6px 10px 0 10px;
	line-height:12px;
	height:20px;
	background:#fff;
	cursor:pointer;
	vertical-align:top;
	font-size:14px;
	font-weight:400;
	color:#010101;
	position:relative;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.section_search__tabs-field__item.active{
	background:#fdfdfd;
	border-color:#3399ff;
	border-bottom-color:#fdfdfd;
	position:relative;
	z-index:10;
}
.section_search__tabs-field__item_select{
	padding-right:30px;
	width:230px;
	margin-right:10px;
}
.section_search__tabs-field__item_select:hover{
	border-color: #3399ff;
	color: #3399ff;
}
.section_search__tabs-field__item_select.active:hover{
	border-bottom-color:#fdfdfd;
}
.section_search__tabs-field__item_select:after{
	content:'';
	display:block;
	position:absolute;
	width:10px;
	height:5px;
	background:url("../img/global/arrow-down-b.svg") no-repeat 0 0;
	top:50%;
	opacity:.5;
	margin-top:-2px;
	right:9px;

	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.section_search__tabs-field__item_select:hover:after{
	background:url("../img/global/arrow-down-c.svg") no-repeat 0 0;
	opacity: 1;
}
.section_search__tabs-field__item_select.active:after{
	background:url("../img/global/arrow-down-b.svg") no-repeat 0 0;

	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
}
.section_search__tabs-field__item_select:hover.active:after{
	background:url("../img/global/arrow-down-c.svg") no-repeat 0 0;
}
.section_search__tabs-field .input-daterange{
	display:inline-block;
	font-size:0;
}
.section_search__tabs-field__item_date{
	width:129px;
	height:26px;
	margin-right:10px;
	padding:0;
	border:none;
}
.section_search__tabs-field__item_date input{
	width:107px;
	height:26px;
	font-family: SegoeUI, sans-serif;
	font-size:inherit;
	line-height:20px;
	font-weight:300;
	color:#757b87;
	padding:0 10px;
	background:#fff;
	border:1px solid #cfcfcf;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;

	background: url("../img/icons/icon-cal-d.svg") no-repeat right 7px top 50%;
}
.section_search__tabs-field__item_date input:focus{
	border-color:#3399ff;
	background-image: url("../img/icons/icon-cal-c.svg");
}
.section_search__tabs-field__item_btn{
	background:#3399ff;
	border-color:#3399ff;
	color:#fff;
	text-align:center;
	width:116px;
	/*float:right;*/
}


/*.section_search__tabs-menu__target_2 .section_search__tabs-field__item_select{width:604px;}*/
/*.section_search__tabs-menu__target_3 .section_search__tabs-field__item_select{width:385px;}*/
/*.section_search__tabs-menu__target_4 .section_search__tabs-field__item_select{width:276px;}*/
/*.section_search__tabs-menu__target_4 .section_search__tabs-field__item_date{width:154px;}*/
/*.section_search__tabs-menu__target_4 .section_search__tabs-field__item_date input{width:133px;}*/

.section_search__tabs-field__item_date {

}
.date-input{cursor: pointer}





.section_search__tabs-screen{
	position:absolute;
	width:100%;
	left:0;
	top:43px;
	z-index: 5;
}
.section_search__tabs-screen__item{
	background:#fdfdfd;
	/*height:435px;*/
	min-height: 70px;
	border:1px solid #3399ff;
	display:none;
}
.section_search__tabs-screen__item.active{
	display:block;
}




.tabs-field{}
.tabs-field_head{
	height: 50px;
	padding: 18px 20px 0;
	overflow:hidden;
}
.tabs-field_head__search{
	display: inline-block;
	font-size:0;
	vertical-align: middle;
}
.tabs-field_head__search-input{
	display:inline-block;
	vertical-align:top;
	position: relative;
}
.tabs-field_head__search-input input{
	border:1px solid #cfcfcf;
	padding:0 30px 0 10px;
	background:#fff;
	font-size: 14px;
	line-height:26px;
	height:26px;
	font-family: SegoeUI, sans-serif;
	font-weight:300;
	color:#7e7e7e;
	width:390px;

	border-radius:2px 0 0 1px;
	-moz-border-radius:2px 0 0 1px;
	-webkit-border-radius:2px 0 0 1px;
}
.fit-3.tabs-field_head__search-input input{
	width: 152px;
}

.tabs-field_head__search-submit{
	vertical-align:top;
	display:inline-block;
	border:1px solid #cfcfcf;
	border-left:none;
	height:26px;
	width:35px;
	cursor:pointer;
	background:#fdfdfd url("../img/icons/icon-search-d.svg") 50% 50% no-repeat;

	border-radius:0 2px 2px 0px;
	-moz-border-radius:0 2px 2px 0px;
	-webkit-border-radius:0 2px 2px 0px;

	transition:background-color 0.15s ease;
	-moz-transition:background-color 0.15s ease;
	-webkit-transition:background-color 0.15s ease;
}
.tabs-field_head__search-submit:hover{
	background-color:#3399ff;
	border-color:#3399ff;
	background-image: url("../img/icons/icon-search-w.svg");
}
.tabs-field_head__search-input__notepad{
	width: 29px;
	height: 29px;
	background: url("../img/icons/icon-notepad-d.svg") 50% 50% no-repeat;
	position: absolute;
	top: 0px;
	right: 5px;
	cursor: pointer;
}
.tabs-field_head__search-input__notepad:hover{background-image: url("../img/icons/icon-notepad-c.svg");}




.tabs-field_head__words{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.tabs-field_head__words-item{
	display: inline-block;
	font-size: 14px;
	color: #757b87;
	cursor: pointer;
	padding: 0 3px;
}
.tabs-field_head__words-item.active{color: #3399ff;}

.tabs-field_head__btns{
	float: right;
	white-space: nowrap;
}
.tabs-field_head__btns-item{display: inline-block;vertical-align: top;}
.tabs-field_head__btns-item .btn_brdr{
	border-color: #cfcfcf;
	color: #757b87;
	height: 19px;
	line-height: 19px;
}
.tabs-field_head__btns-item .btn_brdr:hover{
	border-color: #3399ff;
	background-color: #3399ff;
	color: #fff;
}

.tabs-field_head__btns-item_lang{font-size: 0}
.tabs-field_head__btns-item_lang .btn_brdr{
	border-color: #cfcfcf;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-left-width: 0;
	color: #757b87;
	padding-top: 5px;
	padding-bottom: 6px;
	vertical-align: top;
}
.tabs-field_head__btns-item_lang .btn_brdr:first-child{
	border-left-width: 1px;
	border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
}
.tabs-field_head__btns-item_lang .btn_brdr:last-child{
	border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
}
.tabs-field_head__btns-item_lang .btn_brdr.active,
.tabs-field_head__btns-item_lang .btn_brdr:hover{
	background-color: #fff;
	color: #3399ff;
}
.tabs-field_head__btns-item_close .btn_brdr{
	border-color: #cfcfcf;
	vertical-align: top;
	height: 19px;
}
.tabs-field_head__btns-item_close .btn_brdr:after{
	content:'';
	display:block;
	position:absolute;
	width:10px;
	height:5px;
	background:url("../img/global/arrow-up-b.svg") no-repeat 0 0;
	top:50%;
	opacity:.5;
	margin-top:-2px;
	right:9px;
}
.tabs-field_head__btns-item_close .btn_brdr:hover:after{
	background:url("../img/global/arrow-up-w.svg") no-repeat 0 0;
	opacity:.8;
}


.tabs-field_text{
	border-top: 1px solid #cfcfcf;
	margin-bottom: -1px;
}
.tabs-field_text .result{
	padding: 9px 20px 11px;
	font-size: 16px;
	color: #757b87;
	font-weight: 300;
	line-height: 1.5;
}
.tabs-field_text .result-title{
	color: #babcc1;
	margin-right: 10px;
}
.tabs-field_text .result-item{
	position: relative;
	padding-right:10px;
	white-space: nowrap;
	color: #757b87;
}
.result-item.selected{font-weight: 700;}
.tabs-field_text .result-item__remove{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url("../img/icons/icon-result-remove-d.svg") no-repeat 50% 50%;
	-webkit-background-size: 10px 10px;
	background-size: 10px 10px;
	cursor: pointer;
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.tabs-field_text .result-item__remove:hover{
	background-image: url("../img/icons/icon-result-remove-r.svg");
}
.tabs-field_body{
	overflow: hidden;
	border-top: 1px solid #c0c0cc;
	max-height: 320px;
}
.tabs-field_list{
	padding-left: 20px;
}
.tabs-field_list.js-scrollbar{
	max-height: 320px;
}
.tabs-field_list .tabs-field__column{
	float: left;
	/*width: 240px;*/
	padding-right: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.tabs-field_list .tabs-field__column .input-field{
	margin: 0;
	padding: 5px 0;
}
.tabs-field_list .tabs-field__column .input-field .marker{
	top: 7px;
}
.tabs-field_list .tabs-field__column .input-field_choose-all{
	border-bottom: 1px solid #ccc;
}

.tabs-field_list__arrowborder,
.tabs-field_list__district,
.tabs-field_list__metro{
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tabs-field_list__region{padding-right:10px;}
.tabs-field_list__region .input-field{margin:0;}
.tabs-field_list__region .input-field .marker{top:1px;}

.tabs-field_list__region .tabs-field_list__link,
.tabs-field_list__arrowborder .tabs-field_list__link,
.tabs-field_list__district .tabs-field_list__link,
.tabs-field_list__metro .tabs-field_list__link{
	font-size: 14px;
	color: #010101;
	font-weight: 400;
	border: 1px solid #fdfdfd;
	/*border-right: none;*/
	display: block;
	padding: 3px 4px 6px 6px;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	margin: 1px 0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;

}
.tabs-field_list__region .tabs-field_list__link.selected,
.tabs-field_list__arrowborder .tabs-field_list__link.selected,
.tabs-field_list__district .tabs-field_list__link.selected,
.tabs-field_list__metro .tabs-field_list__link.selected{font-weight: 700}

/*
.tabs-field_list__arrowborder .tabs-field_list__link:before,
.tabs-field_list__metro .tabs-field_list__link:before,
.tabs-field_list__arrowborder .tabs-field_list__link:after,
.tabs-field_list__metro .tabs-field_list__link:after{
	content: '';
	position: absolute;
	border: 11px solid #fdfdfd;
	top: -1px;
	right: -11px;
}


.tabs-field_list__arrowborder .tabs-field_list__link:after,
.tabs-field_list__metro .tabs-field_list__link:after{
	border: 10px solid transparent;
	top: 0;
	border-left-color: #fdfdfd;
	right: -9px;
}
*/
.tabs-field_list__region .tabs-field_list__link.selected,
.tabs-field_list__arrowborder .tabs-field_list__link.selected,
.tabs-field_list__district .tabs-field_list__link.selected,
.tabs-field_list__metro .tabs-field_list__link.selected,
.tabs-field_list__region .tabs-field_list__link.active,
.tabs-field_list__arrowborder .tabs-field_list__link.active,
.tabs-field_list__district .tabs-field_list__link.active,
.tabs-field_list__metro .tabs-field_list__link.active,
.tabs-field_list__region .tabs-field_list__link:hover,
.tabs-field_list__arrowborder .tabs-field_list__link:hover,
.tabs-field_list__district .tabs-field_list__link:hover,
.tabs-field_list__metro .tabs-field_list__link:hover{
	border-color: #3399ff;
	font-weight:inherit;
	/*color: #3399ff;*/
}
/*
.tabs-field_list__arrowborder .tabs-field_list__link.active:before,
.tabs-field_list__metro .tabs-field_list__link.active:before,
.tabs-field_list__arrowborder .tabs-field_list__link:hover:before,
.tabs-field_list__metro .tabs-field_list__link:hover:before{
	border-left-color: #3399ff;
}
*/

.tabs-field_list__metro .tabs-field_list__link .logo{
	width: 14px;
	height: 6px;
	display: inline-block;
	position: relative;
	background: #3399ff;
	margin-right: 5px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.tabs-field_list__metro .tabs-field_list__link .num{
	display: inline-block;
	margin-right: 5px;
	min-width: 10px;
}
.tabs-field_list__arrowborder .tabs-field_list__link .name,
.tabs-field_list__metro .tabs-field_list__link .name{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}




.tabs-field_list__region .tabs-field_list__link .input-field label{
	margin: 0;
}

.tabs-field_list__region .tabs-field_list__link .input-field label,
.tabs-field_list__region .tabs-field_list__link .input-field label span{
	display: block;
}


.tabs-field_list__region .tabs-field_list__link .input-field label span{
	font-size: 14px;
	color: #010101;
	font-weight: 400;
	/*border: 1px solid #fdfdfd;*/
	/*border-right: none;*/
	display: block;
	/*padding: 3px 4px 5px 4px;*/
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	/*line-height: 16px;*/
	/*-webkit-border-radius:3px;*/
	/*-moz-border-radius:3px;*/
	/*border-radius:3px;*/
}


/*.tabs-field_list__region .tabs-field_list__link.selected{font-weight: 700}*/
/*

.tabs-field_list__region .tabs-field_list__link .input-field label span:before,
.tabs-field_list__region .tabs-field_list__link .input-field label span:after{
	content: '';
	position: absolute;
	border: 11px solid #fdfdfd;
	top: -1px;
	right: -11px;
}
.tabs-field_list__region .tabs-field_list__link .input-field label span:after{
	border: 10px solid transparent;
	top: 0;
	border-left-color: #fdfdfd;
	right: -9px;
}
*/
.tabs-field_list__region .tabs-field_list__link:hover .input-field label span{
	border-color: #3399ff;
	color: #3399ff;
}
.tabs-field_list__region .tabs-field_list__link:hover .input-field label span:before{
	border-left-color: #3399ff;
}



.tabs-field_list__target{}
.tabs-field_list__target-item{display: none;}
.tabs-field_list__target-item.active{display: block;}







.tabs-field .aside{
	/*float: left;*/
}
.tabs-field .aside .title,
.tabs-field_list .title{
	color: #babcc1;
	font-size: 16px;
	margin: 10px 0 5px;
}
.tabs-field .aside_left{
	width: 310px;
	height: 320px;
	border-right: 1px solid #cfcfcf;
	float:left;
}
.tabs-field .aside_middle .tabs-field_list{
	height: 320px;
}
.tabs-field .aside_middle{
	width: 310px;
	height: 320px;
	border-right: 1px solid #cfcfcf;
	float:left;
}
.tabs-field .aside_left .tabs-field_list{
	height: 320px;
}
.tabs-field .aside_right{
	/*width: 1187px;*/
	height: 320px;
	margin-left:310px;
}
.tabs-field .aside_middle + .aside_right{
	margin-left:620px;
}
.tabs-field .aside_right .tabs-field_list{
	height: 320px;
	/*border-bottom: 1px solid #cfcfcf;*/
	/*margin: 0 10px;*/
}


.tabs-field_list .tabs-field__column{
	-webkit-column-count: 6;
	-moz-column-count: 6;
	column-count: 6;
}

.tabs-field .aside_right .tabs-field_list .tabs-field__column{

	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
}
.tabs-field .aside_middle + .aside_right .tabs-field_list .tabs-field__column{
	/*width: 280px;*/
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

.tabs-field .aside_right .tabs-field_map{
	width: 100%;
	height: 100%;
}


.aside_right__footer{
	font-size: 0;
	text-align: left;
	padding: 8px 20px;
}
.aside_right__footer .btn_brdr{
	font-size: 12px;
	color: #959595;
	margin: 0 5px;
	padding: 4px 20px 6px;
	background: #fff;
	border-color: #d5d5d5;
}
.aside_right__footer .btn_brdr:hover{
	color: #fff;
	background-color: #3399ff;
	border-color: #3399ff;
}

.aside_right__footer .btn_clear{
	padding-right: 30px;
	background-image: url("../img/icons/icon-trash-d.svg");
	background-repeat: no-repeat;
	background-position: 88% 40%;
}

.aside_right__footer .btn_clear:hover{
	background-image: url("../img/icons/icon-trash-w.svg");
}





.section_search__finder{
	/*width:580px;*/
	display: inline-block;
	background:#fdfdfd;
	padding:10px 35px 20px 0px;
	font-size:0;
	margin-top: 40px;
	position: relative;
}
.section_search__finder:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	right: 100%;
	background:#fdfdfd;
}

.section_search__finder-input{
	display:inline-block;
	vertical-align:top;
	position: relative;
}
.section_search__finder-input input{
	border:1px solid #cfcfcf;
	padding:0 30px 0 10px;
	background:#fff;
	font-size: 14px;
	line-height:26px;
	height:26px;
	font-family: SegoeUI, sans-serif;
	font-weight:300;
	color:#7e7e7e;
	width:500px;

	border-radius:2px 0 0 1px;
	-moz-border-radius:2px 0 0 1px;
	-webkit-border-radius:2px 0 0 1px;
	}
.section_search__finder-submit{
	vertical-align:top;
	display:inline-block;
	border:1px solid #cfcfcf;
	border-left:none;
	height:26px;
	width:33px;
	cursor:pointer;
	background:#fdfdfd url("../img/icons/icon-search-d.svg") 50% 50% no-repeat;

	-webkit-background-size: auto 70%;
	background-size: auto 70%;

	border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	-webkit-border-radius:0 2px 2px 0;

	transition:background-color 0.15s ease;
	-moz-transition:background-color 0.15s ease;
	-webkit-transition:background-color 0.15s ease;
}
.section_search__finder-submit:hover{
	background-color:#3399ff;
	border-color:#3399ff;
	background-image: url("../img/icons/icon-search-w.svg");
}

.section_search__finder-input__clear{
	width: 29px;
	height: 29px;
	background: url("../img/icons/icon-input_clear.svg") 50% 50% no-repeat;
	position: absolute;
	top: 0px;
	right: 4px;
	cursor: pointer;
}
.section_search__finder-input__clear:hover{background-image: url("../img/icons/icon-input_clear-c.svg");}
.section_search__finder-input__notepad{
	width: 29px;
	height: 29px;
	background: url("../img/icons/icon-notepad-d.svg") 50% 50% no-repeat;
	position: absolute;
	top: 0px;
	right: 38px;
	cursor: pointer;
}
.section_search__finder-input__notepad:hover{background-image: url("../img/icons/icon-notepad-c.svg");}


.section_search__finder-input__result{
	position: absolute;
	left: 0;
	top: 100%;
	right: 0;
	font-size: 18px;
	background: #fff;
	border: 1px solid #cfcfcf;
	border-top: 0;
	border-bottom: 0;
	color: #53575f;
	z-index: 100;
}
.section_search__finder-input__result .result-wrap{
	max-height: 545px;
	overflow: hidden;
}
.section_search__finder-input__result .error{color: #f00;}
.section_search__finder-input__result .info{color: #7e7e7e; opacity: 0.6}
.section_search__finder-input__result .text{margin: 10px 18px;}
.section_search__finder-input__result .title{
	font-weight: bold;
	margin: 10px 0 15px;
}
.section_search__finder-input__result .part{
	margin: 10px 0 0;
	padding: 0 10px 10px;
	border-bottom: 1px solid #cfcfcf;
}
.section_search__finder-input__result .item{
	display: block;
	margin: 3px 10px;
	text-decoration: none;
	color: inherit;
	overflow: hidden;
	padding-bottom: 3px;
}
.section_search__finder-input__result .result-info{
	position: absolute;
	left: -1px;
	right: -1px;
	bottom: -36px;
	background: #fdfdfd;
	padding: 7px 15px 0;
	color: #53575f;
	height: 28px;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	font-size: 16px;
}
.section_search__finder-input__result .result-info a{
	display: inline-block;
	margin-right: 20px;
}
.section_search__finder-input__result .result-info a:hover{color: #3399ff;}
.section_search__finder-input__result .part_item .item{
	margin-top: 10px;
}

.section_search__finder-input__result .item:hover{
	text-decoration: none;
	color: #3399ff;
}
.section_search__finder-input__result .item .item-img{
	display: block;
	width: 42px;
	height: 42px;
	float: left;
}
.section_search__finder-input__result .item .item-text{
	margin-left: 52px;
}
.section_search__finder-input__result .item .item-text .info{
	display: inline-block;
	margin-top: 6px;
	font-size: 15px;
}
.section_search__finder-input__result .item .item-img img{
	display: block;
	width: 42px;
	height: 42px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #cfcfcf;
}

.section_search__finder-examp{
	margin-top:5px;
	font-size:14px;
	color:#7e7e7e;
}
.section_search__finder-examp .js-search-examp{
	color:#3399ff;
	display:inline-block;
	border-bottom:1px dashed #3399ff;
	cursor:pointer;
	padding-bottom:3px;
}
.section_search__finder-examp .js-search-examp:hover{
	border-bottom-color:transparent;
}




/**/
.section_video{
	padding: 60px 0 50px;
}
.section_video .section__title{
	margin-top: 0;
}
.section_video__left{
	float: left;
	width: 550px;
}
.section_video__right{
	margin-left: 600px;
}
.section_video .video{
	text-align: center;
	margin: 0 auto;
	width:1157px;
	height:680px;
	background: #c0c0c0;
}


.section_stat{
	/*height: 928px;*/
	padding: 50px 0;
	background-color: #364047;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

	position: relative;

	overflow: hidden;
}

.section_stat .inner{
	height:100%;
	position: static;
}
.section_stat .inner:before{
	content: '';
	height: 100%;
	width: 100%;
	background: rgba(41,49,55,.9);

	display: block;
	left: 0;
	position: absolute;
	top: 0;
}


.section_stat .section__title{
	font-weight: 400;
	font-size: 30px;
	position: relative;
	color: #fff;
	margin: 0px 0 20px;
}
.section_stat .section__title .btn_brdr{
	background: none;
	border-color: #fff;
	color: #fff;
	padding-right: 30px;
}
.section_stat .section__title .btn_brdr:after{
	content: '';
	background: url("../img/global/arrow-down-w.svg") no-repeat 0 0;
	width: 10px;
	height: 5px;
	position: absolute;
	top: 13px;
	right: 10px;
	display: block;

	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}

.section_stat .section__title .btn_brdr:hover,
.section_stat .section__title .btn_brdr.active{
	background-color: #3399ff;
	color: #fff;
	border-color: #3399ff;
}

.section_stat .section__title .btn_brdr.active:after{
	background-image: url("../img/global/arrow-down-w.svg");

	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
}

.section_stat .section__subtitle{
	font-weight: 400;
	font-size: 20px;
	position: relative;
	color: #fff;
	margin: 20px 0 55px;
}


.section_stat .stat-wrap{
	/*display:table;*/
	width:100%;
	height:100%;
}
.section_stat .stat-col{
	/*display:table-cell;*/
	vertical-align:middle;
	/*padding-left: 30px;*/
}
/*
.section_stat .stat-col:first-child{
	width:35%;
	padding-left: 0;
}
*/
.stat-item{
	padding:15px 30px 15px 0;
	float: left;
	width: 25%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*white-space: nowrap;*/

	/*display: inline-table;*/
}
.stat-item__pie{
	/*display:inline-block;*/
	vertical-align:middle;
	padding-right:17px;

	display: table-cell;
}
.stat-item__text{
	color:#fdfdfd;
	font-size:16px;
	/*display:inline-block;*/
	vertical-align:middle;
	position: relative;
	display: table-cell;
}
.stat-item__text a{
	text-decoration:none;
	display:inline-block;
}
.stat-item__text a span{
	line-height: 1.5;
	text-decoration:none;
	/*border-bottom:1px dashed #fff;*/
	padding-bottom:0px;
	/*white-space: nowrap;*/
}
.stat-item__text a:hover span{
	color: #3399ff;
	/*border-bottom-color:transparent;*/
}
.pie-diagram{
	display:inline-block;
	position:relative;
	color:#fdfdfd;
	font-size:24px;
	text-align:center;
}


.pie-diagram_big{width:400px; height:400px}
.pie-diagram_min{width:103px; height:103px}
.pie-diagram__num{
	position:absolute;
	top:50%;
	line-height:24px;
	margin-top:-14px;
	left:0;
	width:100%;
}

.stat__city{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.stat__city:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.stat__city-wrap{
	display: inline-block;
	vertical-align: middle;
	width: 90%;
}
.stat__city-title{
	text-align: center;
	font-size: 24px;
	color: #fff;
	margin-bottom: 25px;
	line-height: 1.2;
}
.stat__city-select .select-title{
	font-size: 23px;
	color: #3399ff;
	text-transform: uppercase;
	display: inline-block;
	padding: 6px 37px 10px 23px;
	border: 1px solid #3399ff;
	position: relative;
	cursor: pointer;

	max-width: 260px;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	transition: all 0.15s ease;

	z-index: 20;
}
.stat__city-select .select-title.active{
	border-bottom-color: #272a33;
	background: #272a33;
}
.stat__city-select .select-title:after{
	content: '';
	position: absolute;
	width: 12px;
	height: 8px;
	background: url("../img/global/arrow_big-cyan-down.svg") no-repeat 0 0;
	top: 50%;
	margin-top: -4px;
	right: 12px;

	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.stat__city-select .select-title.active:after{
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
}
.stat__city-descr{
	line-height: 1.2;
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}




.section_stat-location{
	background: #272a33;
	color: #fff;
	position: absolute;
	width: 100%;
	z-index: 10;
	border-top: 1px solid #3399ff;
	border-bottom: 1px solid #3399ff;
	display: none;
}



/**/

.section_category{
	/*background:#f8f8f8;*/
	padding-bottom:30px;
}
.cards_category .cards-item__inner{height:220px;width: 274px;}
.cards_category .cards-title{
	margin:5px 15px 0;
}
.cards_category .cards-title__img{vertical-align:top;}
.cards_category .cards-title__text{
	font-size:16px;
	font-weight: 600;
	color:#1d2027;
}
.cards_category .cards-descr .text{
	font-size:14px;
	color:#959595;
	position:absolute;
	left:15px;
	bottom:15px;
}
.cards_category .cards-title__img .icon{
	display:block;
	width:72px;
	height:72px;
	background:#272a33;
	position: relative;

	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;

	transition:all .15s ease;
	-moz-transition:all .15s ease;
	-webkit-transition:all .15s ease;
}
.cards_category .cards-title__img .icon:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .7;

	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
}
.cards_category .cards-title__img .icon-football:after{background-image: url("../img/base/i-football.svg")}
.cards_category .cards-title__img .icon-hockey:after{background-image: url("../img/base/i-hockey.svg")}
.cards_category .cards-title__img .icon-figure:after{background-image: url("../img/base/i-figure.svg")}

.cards_category .cards-item:hover .cards-title__text{color:#3399ff;text-decoration: underline;}




.tab{}
.tab__menu{
	margin:20px 0 10px;
}
.tab__menu-list{
	margin: 0 auto;
}
.tab__menu-item{
	display: inline-block;
	/*width: 11%;*/
	/*position: relative;*/
	/*top: 1px;*/
}


.tab__menu-link{
	display:inline-block;
	color:#010101;
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
	font-size:14px;
	line-height: 28px;
	height: 28px;
	font-weight:400;
	background: #fff;
	padding:0 15px;
	border:1px solid #cccccc;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-right: 10px;
	margin-bottom: 10px;

	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-ms-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}
.tab__menu-link:hover{
	border-color:#3399ff;
	background-color:#3399ff;
	color: #fff;
}
.tab__menu-link.active:hover,
.tab__menu-item_active .tab__menu-link{
	background:#cae4fe;
	border-color:#cae4fe;
}

.tab__menu-item_active .tab__menu-link{
	cursor: default;
}

.tab__screen-item{display: none;}
.tab__screen-item_active{display: block}




/**/
.section_news{
	padding-bottom:30px;
}
.cards_news .cards-item__inner{height:350px;}
.cards_news .cards-btn{right:22px;}

.cards_news .cards-btn {position: static}
.cards_news .cards-btn .btn{
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 10;
}
.cards_news .cards-btn:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



.cards_news .cards-img{
	width:100%;
	display:block;
	border-bottom:1px solid #d5d5d5;
}
.cards_news .cards-img img{
	width:100%;
	display:block;
}
.cards_news .cards-title{
	margin:20px 0px 0;
}
.cards_news .cards-item .cards-title{
	margin:9px 10px 0;
}
.cards_news .cards-title__img{
	vertical-align:top;
}
.cards_news .cards-title__img img{
	display:block;
	border:1px solid #959595;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width: 47px;
	height: 47px;
	background-color: #fff;
}
.cards_news .cards-title__text{
	color:#4b4b4b;
	font-size:18px;
	padding:0 9px;
	line-height:1.1;
}
.cards_news .cards-title__text .date{
	color:#959595;
	font-size:14px;
}
.cards_news .cards-descr{
	margin:12px 19px;
}
.cards_news .cards-descr .title{
	font-size:18px;
	color:#4b4b4b;
	margin-bottom:7px;
	line-height:1.1;
	transition:color .15s ease;
	-moz-transition:color .15s ease;
	-webkit-transition:color .15s ease;
}
.cards_news .cards-descr .text{
	font-size:14px;
	color:#959595;
	line-height:1.1;
}
.cards_news .cards-descr .text_b{
	font-size:16px;
}
.cards_news .cards-item_big .cards-descr{margin:-6px 130px 0 68px;}
.cards_news .cards-item_big .cards-descr .text{font-size:16px;}
.cards_news .cards-item:hover .cards-descr .title{color:#3399ff;}




/**/
.section_competition{
	padding-bottom:30px;
}


.section_competition .menu{
	margin: 10px 0;
}
.section_competition .menu .btn{
	margin: 0 10px 10px 0 ;
}
.section_competition .menu-item{
	width: 85px;
	height: 85px;
	display: inline-block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #fff url("../img/global/round-menu.svg") no-repeat 50% 50%;

	margin: 0 11px;
}
.section_competition .menu-item .manu-inner{
	width: 83px;
	height: 83px;
	display: block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #d6d6d6;
	background: #fff;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.15s ease;
	position: relative;
	top: 0px;
	right: 0px;
}
.section_competition .menu-item:hover .manu-inner{
	top: -5px;
	right: -5px;
}

.cards_competition .cards-item__inner{height:425px;}
.cards_competition .cards-btn{right:22px;}
.cards_competition .cards-img{
	width:100%;
	display:block;
	border-bottom:1px solid #d5d5d5;
}
.cards_competition .cards-img img{
	width:100%;
	display:block;
}
.section_competition .cards-title{
	margin:20px 0 0;
}
.cards_competition .cards-item .cards-title{
	margin:9px 10px 0;
}
.cards_competition .cards-title__img{
	vertical-align:top;
}
.cards_competition .cards-title__img img{
	display:block;
	border:1px solid #cfcfcf;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width: 47px;
	height: 47px;
}
.cards_competition .cards-title__text{
	color:#4b4b4b;
	font-size:18px;
	padding:0 9px;
	line-height:1.1;
}
.cards_competition .cards-title__text .date{
	color:#959595;
	font-size:14px;
}
.cards_competition .cards-info{
	margin:12px 19px;
	border-top: 1px solid #cfcfcf;
}
.cards_competition .cards-info .cards-details{
	font-size: 15px;
	color: #4c4b4c;
	padding-top: 12px;

	padding-bottom: 12px;
	border-bottom: 1px solid #cfcfcf;
}
.cards_competition .cards-info .cards-details table td{
	padding: 3px 0;
}
.cards_competition .cards-info .cards-details table tr td:first-child{
	color: #959595;
	padding-right: 10px;
}
.cards_competition .cards-descr .title{
	font-size:18px;
	color:#4b4b4b;
	margin-bottom:7px;
	line-height:1.1;
	transition:color .15s ease;
	-moz-transition:color .15s ease;
	-webkit-transition:color .15s ease;
}
.cards_competition .cards-info .cards-descr {
	padding-top: 12px;
	max-height: 40px;
	padding-bottom: 5px;
}
.cards_competition .cards-info .cards-descr .text{
	font-size:16px;
	color:#959595;
	line-height:1.1;
}
.cards_competition .cards-info .cards-descr .text_b{
	font-size:16px;
}
.cards_competition .cards-item_big .cards-info{
	overflow: hidden;
}
.cards_competition .cards-item_big .cards-details{
	width: 230px;
	float: left;
	border-bottom: none;
	border-right: 1px solid #cfcfcf;
	padding-right: 12px;
	margin-right: 12px;
}
.cards_competition .cards-item_big .cards-descr{
	width: 290px;
	float: left;
	max-height: 95px;
	padding-bottom: 5px;
}
.cards_competition .cards-item:hover .cards-descr .title{
	color: #3399ff;
	font-size: 18px;
}
.cards_competition .cards-item_big .cards-descr .text{
	line-height: 1;
}


.cards_competition-last .cards-description{height: 295px; overflow: visible;}
.cards_competition-last .cards-item__inner{overflow: visible;}
.cards_competition-last .cards-info .title{height: 50px;}



/**/
.section_articles{
	padding-bottom:30px;
}
.cards_articles .cards-item__inner{width:484px;height:210px;overflow: hidden}
.cards_articles .cards-btn{right:22px;}
.cards_articles .cards-img{
	width:190px;
	height: 141px;
	display:block;
	float: left;
	margin-right: 10px;

	border: 1px solid #d5d5d5;
	border-bottom: none;
	border-left: none;
}
.cards_articles .cards-img img{
	width:100%;
	display:block;
}
.cards_articles .cards-title{
	margin:20px 0px 0;
}
.cards_articles .cards-item .cards-title{
	margin:9px 10px 0;
	height: 59px;
}
.cards_articles .cards-title__img{
	vertical-align:top;
}
.cards_articles .cards-title__img img{
	display:block;
	border:1px solid #959595;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width: 47px;
	height: 47px;
}
.cards_articles .cards-title__text{
	color:#3399ff;
	font-size:18px;
	padding:0 9px;
	line-height:20px;

	position: relative;
	top: -5px;
}
.cards_articles .cards-title__text .descr{
	color:#959595;
	font-size:12px;
}
.cards_articles .cards-title__text .descr a{text-decoration: none}
.cards_articles .cards-title__text .descr a:hover{text-decoration: underline;color:#3399ff; }
.cards_articles .cards-descr{
	margin:0 10px;
	padding:10px 0;
	border-top:1px solid #cfcfcf;
}
.cards_articles .cards-item_pic .cards-descr{
	margin-left: 200px;
}
.cards_articles .cards-descr .title{
	font-size:18px;
	color:#4b4b4b;
	margin-bottom:7px;
	line-height:1.1;
	transition:color .15s ease;
	-moz-transition:color .15s ease;
	-webkit-transition:color .15s ease;
}
.cards_articles .cards-descr .text{
	font-size:16px;
	color:#959595;
	line-height:1.1;
}
.cards_news .cards-descr .text_b{
	font-size:16px;
}
.cards_articles .cards-item:hover .cards-descr .title{color:#3399ff;}
.cards_articles .cards-item .cards-legend{
	position: absolute;
	bottom: 16px;
	right: 120px;
	color: #999;
}
.cards_articles .cards-item .cards-legend__look{
	padding-left: 30px;
	margin: 0 5px;
	background:url("../img/icons/icon-look-d.svg") no-repeat 0 50%;
}
.cards_articles .cards-item .cards-legend__comment{
	padding-left: 30px;
	margin: 0 5px;
	background:url("../img/icons/icon-dialog-d.svg") no-repeat 0 50%;
}


.cards_articles .cards-item_big .cards-item__inner{
	width: 1180px;
	height: 290px;
}
.cards_articles .cards-item_big .cards-title{
	margin-left: 740px;
	display: table;
}
.cards_articles .cards-item_big .cards-img{
	height: 289px;
	width: 730px;
	border-top: 0;
}
.cards_articles .cards-item_big .cards-descr{
	margin-left: 740px;
}

.cards_articles .cards-item_cont .cards-item__inner{
	width: 294px;
	height: 290px;
}
.cards_articles .cards-item_cont .cards-descr{
	margin-left: 10px;
}

.cards-item a{text-decoration: none;}
.cards-item a:hover{text-decoration: underline;}



/**/




.section_sponsors{
	padding-bottom:30px;
}

.sponsors-list{
	text-align: left;
	margin-bottom: 60px;
}
.sponsors-item{
	display: inline-block;
	width: 250px;
	height: 190px;
	border: 1px solid transparent;
	padding: 10px 15px;
	text-decoration: none;
}
.sponsors-item .sponsor-img{
	height: 150px;
}
.sponsors-item .sponsor-name{
	font-size: 16px;
	color: #000;
	margin-bottom: 5px;
}
.sponsors-item .sponsor-info{
	font-size: 14px;
	color: #999999;
}
.sponsors-item:hover{border-color: #3399ff;}
.sponsors-item:hover .sponsor-name{color: #3399ff;text-decoration: underline;}
.sponsors-item img{
	max-width: 100%;
}

/**/

.section_text{
	padding-bottom: 60px;
}

.text-col{
	color: #000;
	font-size: 16px;
	line-height: 1.2;
}
.text-col p{
	margin: 10px 0;
	text-align: left;
}
.text-col_3{
	float: left;
	width: 32%;
}
.text-col_3:nth-of-type(3n-1){
	margin: 0 2%;
}

