
.btn{
	cursor: pointer;
	display:inline-block;
	position:relative;
	line-height:1;
	text-decoration:none;
	transition:all 0.15s ease;
	-moz-transition:all 0.15s ease;
	-webkit-transition:all 0.15s ease;
}
.btn_brdr{
	font-size:16px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	padding:4px 15px 7px;
	text-align: center;
	text-decoration: none!important;
}
.btn_min{
	font-size:12px;
}
.btn_min.btn_brdr{
	padding:0 5px 2px;
	top:-1px;
}
.btn_big{
	font-size:18px;
}
.btn_big.btn_brdr{
	padding:9px 35px 13px;
	top:-1px;
}
.btn_white{
	border-color: #cfcfcf;
	color: #cfcfcf;
	background:#ffffff;
}
.btn_white:hover{
	border-color: #3399ff;
	color: #fff;
	background:#3399ff;
}
.btn_color-c{
	border-color: #3399ff;
	color: #fff;
	background:#3399ff;
}
.btn_color-c:hover{
	border-color: #3399ff;
	color: #fff;
	background:#3399ff;
}
.btn_color-g{
	border-color: #a1a1a1;
	color: #fff;
	background:#a1a1a1;
}
.btn_color-g:hover{
	border-color: #a1a1a1;
	color: #fff;
	background:#a1a1a1;
}
.btn__number{
	position:absolute;
	top:-5px;
	left: 60%;
	background:#3399ff;
	color:#fff;
	min-width:10px;
	text-align:center;
	font-size:11px;
	font-style:normal;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding:5px;
	z-index:1;
}
.btn_brdr.cat_1{border-color: #f37a1c;color: #ffffff;background:#f37a1c;}
.btn_brdr.cat_2{border-color: #4b4b4b;color: #4b4b4b;background:#ffffff;}
.btn_brdr.cat_3{border-color: #ff81b7;color: #ffffff;background:#ff81b7;}
.btn_brdr.cat_4{border-color: #ef1c24;color: #ffffff;background:#ef1c24;}
.btn_brdr.cat_5{border-color: #a6c923;color: #ffffff;background:#a6c923;}
.btn_brdr.cat_6{border-color: #d2c625;color: #ffffff;background:#d2c625;}
.btn_brdr.cat_7{border-color: #941a81;color: #ffffff;background:#941a81;}
.btn_brdr.cat_8{border-color: #11958c;color: #ffffff;background:#11958c;}
.btn_brdr.cat_9{border-color: #214ca2;color: #ffffff;background:#214ca2;}
.btn_brdr.cat_0{border-color: #3399ff;color: #ffffff;background:#3399ff;}

.btns-group {
	display:inline-block;
	font-size:0;
}
.btns-group .btn_brdr{
	display:inline-block;
	font-size:16px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.btns-group .btn_brdr:first-child{
	border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	-webkit-border-radius:2px 0 0 2px;
	border-right:none;
}
.btns-group .btn_brdr:last-child{
	border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	-webkit-border-radius:0 2px 2px 0;
	border-left:none;
}


/*checkbox & radio buttons*/

.input-field{
	display: block;
	position: relative;
	margin: 8px 0;
	color: #757b87;
	font-size: 16px;
	line-height: 1.2;
}
.input-field input{
	opacity: 0;
	margin: 0;
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0;
}
.input-field label{
	display: inline-block;
	padding-left: 24px;
	cursor: pointer;
}
.input-field .marker{
	position: absolute;
	width: 15px;
	height: 15px;
	background: #fff;
	top: 2px;
	left: 0;
	border: 1px solid #cfcfcf;
}
.input-field input[type="checkbox"] + .marker{
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}
.input-field input[type="checkbox"]:checked + .marker{
	background: #3399ff url("../img/icons/icon-check-w.svg") 50% 50% no-repeat;
}
.input-field input[type="checkbox"]:checked:hover + .marker{
	background: #e52923 url("../img/icons/icon-check_disable-w.svg") 50% 50% no-repeat;
}
.input-field input[type="radio"] + .marker{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.input-field input[type="radio"] + .marker:before{
	content: '';
	width: 1px;
	height: 1px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	background: transparent;
	margin: 10px;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.input-field input[type="radio"]:checked + .marker:before{
	content: '';
	width: 9px;
	height: 9px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	background: #3399ff;
	margin: 3px;
}
.input-field input[type="checkbox"]:checked ~ span,
.input-field input[type="radio"]:checked ~ span{
	color: #3399ff;
}
.input-field input[type="checkbox"]:checked:hover ~ span{
	color: #757b87;
}

.input-field input[type="checkbox"]:checked ~ span.sub,
.input-field input[type="radio"]:checked ~ span.sub{
	color: #4b4b4b;
}


.section__subtitle,
.section__title{
	font-size: 30px;
	color: #000;
	font-weight: 600;
	line-height: 1.2;
}
.section__subtitle span,
.section__title span{
	color: #3399ff;
}
.section__subtitle,
.section__title{
	margin: 20px 0 20px;
}
.section__subtitle sup,
.section__title sup{
	font-size: 16px;
	position: relative;
}

.section__subtitle{
	text-align: left;
}


.wrapper_front .section__title{
	text-align: left;
	margin: 60px 0 40px;
}
.section__title .btn_brdr {
	border-color: #3399ff;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	padding: 8px 15px 8px;
	position: relative;
	top: -3px;
	background: #3399ff;
	margin: 0 10px;
}

.section__more{
	text-align:center;
	margin-top:25px;
}
.section__more .btn_brdr{
	border-color: #3399ff;
	color: #fff;
	background:#3399ff;
}





.section_error{
	color: #fff;
	font-weight: 100;
	line-height: 1;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
.section_error .inner{
	padding: 135px 0;
	min-height: 760px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.section_error-404 .inner .error-text,
.section_error-404 .inner .error-btns{
	margin-left: 50%;
}

.section_error .error-text{
	margin-bottom:20px;
}
.section_error .error-text span{
	display: inline-block;
	background: rgba(29,32,39,0.5);
	padding: 0 20px 5px;
}
.section_error .error-text .title span{
	font-size: 150px;
}
.section_error .error-text .text span{
	font-size: 34px;
}
.section_error .error-text .text span:last-child{
	padding-bottom: 15px;
}
.section_error .error-btns .btn_brdr{
	margin-right: 10px;
}

/*breadcrumbs*/

.section_breadcrumbs .inner{
	padding: 25px 0;
}
.breadcrumbs-list{}
.breadcrumbs-item{
	font-size: 15px;
	display: inline-block;
	color: #4b4b4b;
}
.breadcrumbs-item a{
	color: #959595;
	text-decoration: none;
	padding-right: 8px;
	margin-right: 8px;
	position: relative;
}
.breadcrumbs-item a:after{
	content: '';
	display: inline-block;
	position: absolute;
	right: -4px;
	top: 9px;
	width: 3px;
	height: 6px;
	background: url("../img/global/arrow-right-d.svg") no-repeat -2px -2px;
}
.breadcrumbs-item a:hover{
	text-decoration: underline;
}


.section .inner{
	position: relative;
}


/*tooltip*/

.icon_question{
	background: url("../img/icons/icon-quest-d.svg") no-repeat 50% 50%;
	height: 11px;
	width: 11px;
	display: inline-block;
}

.tooltip{
	display: inline-block;
	cursor: pointer;
}
.tooltip:hover{
	color: #3399ff;
	border-color: #3399ff;
}
.tooltip-popup{
	display: block;
	width: 236px;
	border: 1px solid #d5d5d5;
	padding: 10px;
	position: absolute;
	background: #f8f8f8;
	z-index: 1000;
	top: 0;
	left: 0;
	box-shadow: 2px 2px 0 #3399ff;
}
.tooltip-popup__title{
	font-size: 16px;
	color: #272a33;
	display: block;
	font-style: normal;
	margin-bottom: 5px;
}
.tooltip-popup__text{
	line-height: 1.4;
	font-size: 15px;
}
.tooltip-popup__text .comment{
	display: block;
	font-style: normal;
	color: #959595;
	font-size: 12px;
	margin-bottom: 5px;
	line-height: 1;
}
.tooltip-popup__more{
	display: block;
	font-style: normal;
	color: #959595;
	font-size: 14px;
	text-align: right;
	float: none;
	clear: both;
}
.tooltip-popup__more a{
	text-decoration: none;
	color: #959595;
}
.tooltip-popup__more a:hover{
	text-decoration: underline;
	color: #3399ff;
}
.tooltip-popup__close{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url("../img/icons/icon-result-remove-d.svg") no-repeat 50% 50%;
	cursor: pointer;
}
.tooltip-popup__close:hover{
	background: url("../img/icons/icon-result-remove-c.svg") no-repeat 50% 50%;
}

.tooltip_metro {
	width: auto;
	height: auto;
	font-size: inherit;
	border: none;
	vertical-align: top;
	top: 0;
}
.tooltip_metro .link{
	color: #939393;
	border-bottom: 1px dashed transparent;
}
.tooltip_metro .link:hover{
	color: #3399ff;
	border-bottom-color: #3399ff;
}
.tooltip-popup .list_metro{
	color: #4c4c4c;
	font-size: 16px;
	margin-bottom: 0;
}
/*aside*/

.aside{}
.aside_left{}
.aside_right{}
.aside_sml{}
.aside_big{}

.aside_left.aside_sml{
	width: 330px;
	float: left;
}
.aside_right.aside_big{
	margin-left: 350px;
}

.aside_left.aside_big{
	width: 1150px;
	float: left;
}
.aside_right.aside_sml{
	margin-left: 1170px;
	width: 330px;
}




/*cards*/

.cards{
	margin:0 -10px;
	font-size:0;
}
.cards-item{
	display:inline-block;
	font-size:16px;
	margin:10px;
	border:1px dashed #3399ff;
	background: #fff;

	vertical-align: top;
}
.cards-item .cards-item__inner{
	overflow:hidden;
	width:282px;
	height:100px;
	border:1px solid #d5d5d5;
	margin:-1px;
	position:relative;
	top: 0;
	left: 0;
	background:#fff;

	transition: all .15s ease;
	-moz-transition: all .15s ease;
	-webkit-transition: all .15s ease;
}
.cards-item_big .cards-item__inner{
	width:586px;
}
.cards-img{
	position: relative;
	display: block;
}
.cards-img img{
	width: 100%;
	display: block;
}
.cards-title{
	display:inline-table;
}
.cards-title__img{
	display:table-cell;
	width:5%;
	vertical-align:middle;
}
.cards-title__text{
	display:table-cell;
	vertical-align:middle;
}

.cards-descr{
	overflow: hidden;
}
.cards-btn{
	position:absolute;
	bottom:10px;
	right:10px;
}
.cards-btn .btn{
	border-color: #cfcfcf;
	color: #959595;
	background:#ffffff;
}
.cards-item:hover .cards-img:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
}
.cards-item:hover .cards-img:after{
	content: '';
	position: absolute;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fff url("../img/icons/icon-eye-d.svg") no-repeat 50% 50%;
	width: 40px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -20px;
}

.cards-item:hover .cards-item__inner{
	border-color: #3399ff;
}
.cards-item:hover .cards-btn .btn{
	border-color: #3399ff;
	color: #ffffff;
	background:#3399ff;
}


.cards-item_more .cards-item__inner{
	display: table;
}
.cards-item_more .cards-item__inner .cards-load{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.cards-item_more .cards-item__inner .cards-load .icon{
	width: 43px;
	height: 43px;
	display: block;
	margin: 0 auto;
	position: relative;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #939393;

	transition: background-color 0.15s ease;
	-moz-transition: background-color 0.15s ease;
	-webkit-transition: background-color 0.15s ease;
}

.cards-item_more .cards-item__inner .cards-load .icon:before,
.cards-item_more .cards-item__inner .cards-load .icon:after{
	content: '';
	display: block;
	width: 1px;
	height: 1px;
	background: #939393;
	position: absolute;
	top: 21px;
	left: 21px;
}
.cards-item_more .cards-item__inner .cards-load .icon:before{
	width: 1px;
	height: 19px;
	margin-top: -10px;
}
.cards-item_more .cards-item__inner .cards-load .icon:after{
	width: 19px;
	height: 1px;
	margin-left: -9px;
}
.cards-item_more .cards-item__inner .cards-load .title{
	font-size: 20px;
	color: #4c4c4c;
	font-weight: bold;
}
.cards-item_more .cards-item__inner .cards-load .text{
	font-size: 15px;
	margin-top: 5px;
	color: #939393;
}
.cards-item_more:hover .cards-item__inner .cards-load .icon{
	border-color: #3399ff;
	background: #3399ff;
}
.cards-item_more:hover .cards-item__inner .cards-load .icon:before,
.cards-item_more:hover .cards-item__inner .cards-load .icon:after{
	background: #fff;
}



.list-marker{
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
	margin: 0 3px;
}





.wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	min-width: 1540px;
}

.inner{
	width: 1760px;
	margin: 0 auto;
}







.js-input-wrap{
	position: relative;
}
.js-input-wrap .icon_notepad{
	position: absolute;
	top: 0;
	right: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url("../img/icons/icon-notepad-d.svg") no-repeat 50% 50%;
}
.js-input-wrap .icon_notepad:hover{
	background-image: url("../img/icons/icon-notepad-c.svg");
}
.js-input-wrap .icon_clear{
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url("../img/icons/icon-input_clear.svg") no-repeat 50% 50%;
}
.js-input-wrap .icon_clear:hover{
	background-image: url("../img/icons/icon-input_clear-c.svg");
}








/*	Header start
*****************************************************************************/

.header {
	height: 95px;
	background: #1d2027;
	position: relative;
}
.header .inner{
	position: relative;
}

.header-logo{
	display: block;
	width: 155px;
	height: 56px;
	background: url("../img/global/logo-header.svg") no-repeat 0 0;
	float: left;
	margin-top: 21px;
}
.header-location{
	position: relative;
	float: left;
	font-size: 16px;
	color: #c0c0cc;
	border: 1px solid #76787b;
	border-radius: 2px;
	line-height: 16px;
	padding: 4px 31px 8px 11px;
	cursor: pointer;
	margin: 31px 0 0 12px;

	-webkit-border-radius:	2px;
	-moz-border-radius:		2px;
	border-radius:			2px;

	-webkit-transition:	all .15s ease;
	-moz-transition: 	all .15s ease;
	transition:			all .15s ease;


	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.header-location:after{
	content: '';
	background: url("../img/global/arrow-down-w.svg") no-repeat 0 0;
	width: 10px;
	height: 5px;
	position: absolute;
	top: 13px;
	right: 10px;
	display: block;

	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}

.header-location:hover,
.header-location.active{
	background-color: #3399ff;
	color: #fff;
	border-color: #3399ff;
}

.header-location.active:after{
	background-image: url("../img/global/arrow-down-w.svg");

	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
}


.header-aside{
	float: right;
	padding-top: 31px;
}

.header-search{
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}
.header-search .filter-field__search-input input{
	border-right: none;
	height: 28px;
	line-height: 28px;
	width: 300px;

	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;

}
.header-search .filter-field__search-input .section_search__finder-input__result{right: -41px;z-index: 1000;}
.header-search .filter-field__search-input__notepad{
	top: 0;
}
.header-search .filter-field__search-submit{
	border-left: none;
	background-color: #fff;
	height: 28px;
	width: 40px;

	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.wrapper_front .header-search{
	/*display: none;*/
}
.header-search_compact .filter-field__search-input{
	display: none;
}
.header-search_compact .filter-field__search-submit{
	background: url("../img/icons/icon-search-w.svg") 50% 50% no-repeat!important;
	border-color: transparent!important;
}



.header-user{
	/*float:right;*/
	/*padding-top:31px;*/
	position:relative;
	display: inline-block;
	vertical-align: top;
}

.header-user .btn_brdr{
	vertical-align:top;
	font-size:14px;
	padding:6px 11px 7px;
	border-color:transparent;
	background-color:transparent;
	height:15px;
	min-width:28px;
	margin-right:20px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.header-user .btn_auth{
	color:#1d2027;
}
.header-user .btn_reg{
	color:#fff;
	border-color:#3399ff;
	background:#3399ff;
}
.header-user .btn_profile{
	font-size:14px;
	color:#fffefe;
	border-color:transparent;
	background:none;
	font-weight:300;
	/*padding:3px 30px 10px 10px;*/
	/*border-bottom: 1px dashed transparent;*/
	padding: 5px 0;
	margin: 0 0 0 5px;
	width: 135px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	overflow: hidden;
}
/*
.header-user .btn_profile:after{
	content: '';
	background: url("../img/global/arrow-down-w.svg") no-repeat 0 0;
	width: 10px;
	height: 5px;
	position: absolute;
	top: 13px;
	right: -15px;
	display: block;

	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}

.header-user .btn_profile:hover{border-bottom-color:#3399ff;color:#3399ff;}
.header-user .btn_profile:hover:after{background: url("../img/global/arrow-down-c.svg") no-repeat 0 0;}
*/
/*.header-user .btn_profile.active:after{background-image: url("../img/global/arrow-up-w.svg");}*/
/*.header-user .btn_profile.active:hover:after{background-image: url("../img/global/arrow-up-c.svg");}*/
/*
.header-user .btn_profile.active:after{
	background-image: url("../img/global/arrow-down-w.svg");

	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
}
.header-user .btn_profile.active:hover:after{
	background-image: url("../img/global/arrow-down-c.svg");

	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
}
*/

.header-user .btn_notification{background-image: url("../img/icons/icon-notification-w.svg");}
.header-user .btn_notification:hover, .header-user .btn_notification.active{background-image: url("../img/icons/icon-notification-b.svg");}
.header-user .btn_message{background-image: url("../img/icons/icon-message-w.svg");}
.header-user .btn_message:hover, .header-user .btn_message.active{background-image: url("../img/icons/icon-message-b.svg");}


.header-user__logo{
	display:inline-block;
	position:relative;
	top:-10px;
	margin-left: 20px;
}
.header-user__logo img{
	display:inline-block;
	width:49px;
	height:49px;

	-webkit-border-radius:	50%;
	-moz-border-radius:		50%;
	border-radius:			50%;
}

.header-location__popups{
	position:absolute;
	left:0;
	top:95px;
}

.header-user__popups{
	position:absolute;
	right:0;
	top:64px;
}

.header-popup{
	background:#fff;
	border:1px solid #d5d5d5;
	position: absolute;
	right: 0;
	z-index: 1000;
	display: none;
	margin-top: -10px;
}
.header-popup.active{display: block}
.header-popup:before{
	content: '';
	display: block;
	border: 8px solid transparent;
	border-bottom-color: #f8f8f8;
	position: absolute;
	margin-right: -8px;
	right: 50%;
	top: -14px;
}

.header-popup__close{
	position: absolute;
	width: 15px;
	height: 15px;
	top: 10px;
	right: 10px;
	background: url("../img/icons/icon-input_clear.svg") no-repeat 50% 50%;
	cursor: pointer;
	z-index: 10;
	opacity: 0;

	display: none;

	transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
}
.header-popup:hover .header-popup__close{
	opacity: 1;
}
.header-popup__close:hover{
	background: url("../img/icons/icon-input_clear-c.svg") no-repeat 50% 50%;
}
.header-popup__title{
	text-align: center;
	font-size: 16px;
	color: #1d2027;
	padding: 15px 10px 20px;
}
.header-popup__content{
}
.header-popup__footer{
	font-size: 0;
	min-height: 40px;
	border-top: 1px solid #d5d5d5;
	text-align: left;
	padding-top: 14px;
}
.clean .header-popup__footer{
	text-align: center;
}
.header-popup__footer .btn_brdr{
	font-size: 12px;
	color: #959595;
	margin: 0 10px;
	padding: 5px 10px 3px;
	background: #fff;
}
.header-popup__footer .btn_brdr:hover{
	color: #fff;
	background: #3399ff;
	border-color: #3399ff;
}

.header-popup__footer .btn_clear{
	padding-right: 30px;
	background-image: url("../img/icons/icon-trash-d.svg");
	background-repeat: no-repeat;
	background-position: 88% 50%;
	float: right;
}

.header-popup__footer .btn_clear:hover{
	background-image: url("../img/icons/icon-trash-w.svg");
	background-repeat: no-repeat;
	background-position: 88% 50%;
}

.header-popup__settings{

}
.header-popup__settings .btn_brdr{
	position: absolute;
	top: 10px;
	padding: 0;
	margin: 0;
	height: 20px;
	opacity: 0.8;
}
.header-popup__settings .btn_brdr:hover{
	opacity: 1;
}
.header-popup__settings .btn_settings{
	background: url("../img/icons/icon-settings-b.svg") no-repeat 50% 50%;
	left: 10px;
}
.header-popup__settings .btn_clear{
	right: 10px;
	background: url("../img/icons/icon-trash-d.svg") no-repeat 50% 50%;
}



.header-popup .item{
	display: block;
	font-size: 14px;
	color: #959595;
	padding: ;
	text-decoration: none;
}
.header-popup .no-mes{
	font-size: 14px;
	color: #959595;
	padding-top: 55px;
	text-align: center;
	display: none;
}
.header-popup.clean .no-mes{
	display: block;
}
.header-popup .link{
	display: block;
	color: #010101;
	text-decoration: none;
	/*border: 1px solid transparent;*/
	padding: 6px 10px 7px 32px;

	-webkit-border-radius:	2px;
	-moz-border-radius:		2px;
	border-radius:			2px;
}
.header-popup .link:hover{
	/*text-decoration: underline;*/
	/*border-color: #3399ff;*/
	background-color: #cae4fe;
}
.header-popup .num{
	font-style: normal;
	color: #fff;
	font-size: 11px;
	display: inline-block;
	background: #3399ff;
	line-height: 11px;
	padding: 5px 6px 6px;
	min-width: 10px;
	text-align: center;
	float: right;
	cursor: default;
	text-decoration: none!important;
	position: relative;
	top: -4px;

	-webkit-border-radius:	15px;
	-moz-border-radius:		15px;
	border-radius:			15px;


}
.header-popup .header-popup__content{padding: 10px 0;}
.header-popup_profile .header-popup__content{padding-top: 0px;}
.header-popup hr{margin: 12px 18px 8px;}




.header-popup_profile{width:260px;right: 0px;}
.header-popup_profile:before{
	right: 167px;
}

.header-popup_notification{width:300px;right: 100px;}
.header-popup_notification:before{right: 151px;}
.header-popup_notification .header-popup__content{min-height: 150px;}


.header-popup_city{
	min-width: 320px;
	left: 90px;
}
.header-popup_city .header-popup__title{white-space: nowrap;color: #959595;margin-top: 10px;padding: 15px 25px 20px;text-align: left;}
.header-popup_city .header-popup__title span{white-space: nowrap;color: #3399ff;}
.header-popup_city .header-popup__content{padding: 10px 25px;}
.header-popup_city .header-popup__content .btn{color: #959595; border-color: #959595;margin-right: 5px;}
.header-popup_city .header-popup__content .btn:hover{color: #fff; border-color: #3399ff; background: #3399ff;}
.header-popup_city .header-popup__footer{
	color: #959595;
	font-size: 12px;
	border: none;
	padding: 10px 25px;
}


.header-popup_message{width:400px;right: 138px;}
.header-popup_message:before{right: 50%;}
.header-popup_message .header-popup__content{
	/*border-top: 1px solid #d5d5d5;*/
	max-height: 250px;
	min-height: 150px;
	overflow: hidden;
	padding: 0;
}
.header-popup_message .item{
	/*border: 1px solid #d5d5d5;*/
	/*margin: 4px 0;*/
	padding: 0 5px;
}
.header-popup_message .item:hover{
	border-color: #3399ff;
	background-color: #cae4fe;
}

.header-popup_message .item .img{
	width: 70px;
	float: left;
	text-align: center;
	margin-top: 5px;
}
.header-popup_message .item .img img{
	width: 40px;
	height: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.header-popup_message .item .text{
	margin-left: 70px;
	height: 54px;
	padding: 0;
}
.header-popup_message .item .text-name{
	font-size: 14px;
	color: #000;
	padding: 9px 0 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.header-popup_message .item .text-message{
	font-size: 14px;
	color: #999999;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}



.header-popup_message .login{
	color: #4b4b4b;
	display: inline-block;
	position: relative;
}
.header-popup_message .status{
	color: #4b4b4b;
	display: inline-block;
	position: relative;
	top: -8px;
	font-size: 12px;
}
.header-popup_message .status_on{color: #90b600;}
.header-popup_message .status_off{color: #aaaaaa;}
.header-popup_message .date{
	color: #4b4b4b;
	display: inline-block;
	float: right;
}
.header-popup_message .text{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 3px 1px;
}






.header.fixed .header-wrap{
	position: fixed;
	top: 0;
	left: 0;
	background: #1d2027;
	height: 77px;
	z-index: 101;
	width: 100%;
}

.fixed .header-logo{
	margin-top: 10px;
}
.header.fixed .header-location{
	margin-top: 22px;
}
.header.fixed .header-aside{
	padding-top: 22px;
}
.header.fixed .header-user__popups{
	top: 55px;
}

.header.fixed .header-location__popups{
	top: 77px;
}



/*	Navigation menu start
*****************************************************************************/
.nav{
	position: relative;
	z-index: 100;

	height: 43px;
}
.nav .inner{
	height: 43px;
	border-bottom: 2px solid #3399ff;
	width: 100%!important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	background: #f2f2f2;
}

.nav.fixed .inner{
	position: fixed;
	top: 77px;
	left: 0;
}

.nav-list{
	margin: 0 auto;
	width: 1760px;
}
.nav-item{
	display: inline-block;
	font-size: 18px;
	color: #757b87;
	position: relative;
	margin-right: 20px;
	margin-bottom: -2px;
}
.nav-link{
	display: block;
	padding: 10px 0;
	text-decoration: none;
	border-bottom: 5px solid transparent;
}
.nav__sub-list{
	display: none;
	position: absolute;
	width: 200px;
	padding: 7px 0;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	left: 50%;
	margin-left: -100px;
}
.nav__sub-link{
	text-decoration: none;
	font-size: 14px;
	display: block;
	margin: 0;
	color: #000;
	padding: 5px 17px 8px;
}
.nav__sub-link:hover{
	text-decoration: none;;
	color: #000;
	background: #cae4fe
}

.nav-item:hover .nav__sub-list{display: block;z-index: 1}


.section_head-carousel{
	height: 250px;
}

.section_bg-lightgray, .bg-lightgray{background-color: #f8f8f8;}
.section_bg-gray, .bg-gray{background-color: #f2f2f2;}
.section_btdr-b, .brdr-b{border-bottom: 1px solid #cfcfcf;}
.section_btdr-t, .brdr-t{border-top: 1px solid #cfcfcf;}












.soc-item{
	display: inline-block;
	margin: 0px 7px 5px 0;
}
.soc-link{
	display: block;
	width: 39px;
	height: 39px;
	border: 1px solid #cfcfcf;
	text-decoration: none;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

	background-position: 50% 50%;
	background-repeat: no-repeat;

	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
}
.soc-link_vk{background-image: url("../img/icons/icon-soc-vk-d.svg");}
.soc-link_vk:hover{background-image: url("../img/icons/icon-soc-vk-c.svg");}
.soc-link_fb{background-image: url("../img/icons/icon-soc-fb-d.svg");}
.soc-link_fb:hover{background-image: url("../img/icons/icon-soc-fb-c.svg");}
.soc-link_ok{background-image: url("../img/icons/icon-soc-ok-d.svg");}
.soc-link_ok:hover{background-image: url("../img/icons/icon-soc-ok-c.svg");}
.soc-link_yt{background-image: url("../img/icons/icon-soc-yt-d.svg");}
.soc-link_yt:hover{background-image: url("../img/icons/icon-soc-yt-c.svg");}
.soc-link_tw{background-image: url("../img/icons/icon-soc-tw-d.svg");}
.soc-link_tw:hover{background-image: url("../img/icons/icon-soc-tw-c.svg");}
.soc-link_ig{background-image: url("../img/icons/icon-soc-ig-d.svg");}
.soc-link_ig:hover{background-image: url("../img/icons/icon-soc-ig-c.svg");}
.soc-link_gp{background-image: url("../img/icons/icon-soc-gp-d.svg");}
.soc-link_gp:hover{background-image: url("../img/icons/icon-soc-gp-c.svg");}



.soc-link_more{
	background-color:#3399ff;
	border-color:#3399ff;
	position: relative;
}
.soc-link_more:before,
.soc-link_more:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	display: block;
}
.soc-link_more:before{
	width: 20px;
	height: 2px;
	margin-left: -10px;
	margin-top: -1px;
}
.soc-link_more:after{
	width: 2px;
	height: 20px;
	margin-left: -1px;
	margin-top: -10px;
}




.typo {
	font-weight: 400;
	color: #959595;
	font-size: 14px;
	line-height: 1.3;
}
.typo h1,
.typo h2,
.typo h3{
	color: #3399ff;
	font-weight: 300;
	margin-bottom: 5px;
}
.typo h1{font-size: 34px;}
.typo h2{font-size: 24px;}
.typo h3{font-size: 18px;font-weight: 400;}
.typo h4{
	font-size: 18px;
	color: #4b4b4b;
	font-weight: 400;
}
.typo p{
	margin: 5px 0;
}
.typo ol {
	list-style: none;
	counter-reset: point;
	margin: 20px 0;
	color: #4c4b4c;
}
.typo ol li {
	margin-bottom: 10px;
	padding-left: 18px;
	position: relative;
}
.typo ol li:before {
	content: counter(point);
	counter-increment: point 1;
	color: #3399ff;
	position: absolute;
	left: 0;
}
.typo ul {
	list-style: none;
	counter-reset: point;
	margin: 20px 0;
	color: #4c4b4c;
}
.typo ul li {
	margin-bottom: 10px;
	padding-left: 18px;
	position: relative;
}
.typo ul li:before {
	content: "";
	background: #3399ff;
	position: absolute;
	left: 0;
	top: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}


.typo .table_list{
	width: 100%;
	font-weight: 400;
	font-size: 15px;
	color: #4c4b4c;
}
.typo .table_list th {
	font-weight: 400;
	padding: 5px 10px 10px;
	text-align: left;
	border-bottom: 1px solid #cfcfcf;
}
.typo .table_list th a{
	width: 100%;
	color: #3399ff;
	text-decoration: none;
	border-bottom: 1px dashed #3399ff;
}
.typo .table_list th a:hover{
	border-bottom-color: transparent;
}
.typo .table_list td {
	padding: 10px;
}
.typo .table_list td:first-child {
	border-right: 1px solid #cfcfcf;
}


.tab-box{display: none;}
.tab-box.active{display: block;}

/*	Footer start
*****************************************************************************/
.footer {
	width: 100%;
	margin: 0 auto;
	background: #272a33;
	position: relative;
	color: #959595;
}
.footer .inner_bottom {padding-bottom: 60px;}
.footer__nav{
	float: left;
	font-size: 18px;
	margin-top: 45px;
}
.footer__nav-list{
	float: left;
	margin-left: 90px;
}
.footer__nav-list:first-child{margin-left: 0;}
.footer__nav-link{text-decoration: none;}
.footer__nav-link:hover{text-decoration: underline;}

.footer__nav-item{
	margin-bottom: 12px;
}
.footer__nav-item_ttl{
	margin-bottom: 18px;
	font-size: 22px;
	color: #fff;
}


.footer__os{
	float: right;
	margin-top: 50px;
}
.footer__app{margin-bottom: 20px}
.footer__soc{margin-bottom: 15px}
.footer__soc-item{
	display: inline-block;
	margin-left: 7px;
}
.footer__soc-item:first-child{margin-left: 0;}
.footer__soc-link{
	display: block;
	width: 39px;
	height: 39px;
	border: 1px solid #fff;
	text-decoration: none;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.footer__soc-link_vk{background-image: url("../img/icons/icon-soc-vk.svg");}
.footer__soc-link_vk:hover{background-image: url("../img/icons/icon-soc-vk-c.svg");}
.footer__soc-link_fb{background-image: url("../img/icons/icon-soc-fb.svg");}
.footer__soc-link_fb:hover{background-image: url("../img/icons/icon-soc-fb-c.svg");}
.footer__soc-link_ok{background-image: url("../img/icons/icon-soc-ok.svg");}
.footer__soc-link_ok:hover{background-image: url("../img/icons/icon-soc-ok-c.svg");}
.footer__soc-link_yt{background-image: url("../img/icons/icon-soc-yt.svg");}
.footer__soc-link_yt:hover{background-image: url("../img/icons/icon-soc-yt-c.svg");}
.footer__soc-link_tw{background-image: url("../img/icons/icon-soc-tw.svg");}
.footer__soc-link_tw:hover{background-image: url("../img/icons/icon-soc-tw-c.svg");}
.footer__soc-link_ig{background-image: url("../img/icons/icon-soc-ig.svg");}
.footer__soc-link_ig:hover{background-image: url("../img/icons/icon-soc-ig-c.svg");}
.footer__soc-link_gp{background-image: url("../img/icons/icon-soc-gp.svg");}
.footer__soc-link_gp:hover{background-image: url("../img/icons/icon-soc-gp-c.svg");}

.footer__copyright{
	text-align: center;
	border-top: 1px solid #5e6064;
	border-bottom: 1px solid #5e6064;
	line-height: 1.2;
	padding: 3px 0 4px;
}
.footer__pay-list{
	margin: 18px 0;
}
.footer__pay-item{
	display: inline-block;
	margin-left: 7px;
}
.footer__pay-item:first-child{
	margin-left: 0;
}
.footer__bottom-left{
	float: left;
}
.footer__pay-link{
	display: block;
	width: 45px;
	height: 30px;
}
.footer__pay-link img{
	display: block;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.footer__info a{text-decoration: none;}
.footer__info a:hover{text-decoration: underline;}
.footer__info-item{
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}
.footer__info-item:first-child{
	margin-left: 0;
}
.footer__info-item_age{
	border: 1px solid #959595;
	padding: 4px 5px 5px 7px;
	position: relative;
	top: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.footer__developer{
	float: right;
	margin-top: 35px;
}

.footer__developer-name{display:inline-block;vertical-align: middle;margin-right: 15px;}
.footer__developer-logo{display:inline-block;vertical-align: middle;margin-right: 50px;}

/*****************************************************************************
	Footer end */





.head-carousel,
.head-carousel .slides{
	position: relative;
	height: 100%;
	width: 100%;
}
.head-carousel .slides li{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.head-carousel .flex-control-paging{
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 10;
}
.head-carousel .flex-control-paging li{
	display: inline-block;
	margin: 0 5px;
}
.head-carousel .flex-control-paging li a{
	display: block;
	width: 11px;
	height: 11px;
	border: 2px solid #fff;
	box-shadow: 0 0 1px #fff;
	background: #fff;

	cursor: pointer;
	text-indent: -9999px;

	border-radius: 50%;
	-moz-border-radius: 50%;
	-wevkit-border-radius: 50%;
}
.head-carousel .flex-control-paging li a.flex-active{
	background: #3399ff;
}




/*track slider*/


.filter-field_slider{
}
.filter-field_slider .i-time{
	background: #fff!important;
}
.filter-field_slider .slider-input{
	white-space: nowrap;
}
.filter-field_slider .slider-line{
	position: relative;
	background: #d5d5d5;
	height: 5px;
	margin: 30px 18px;
}
.filter-field_slider .slider-line .slider-line__max,
.filter-field_slider .slider-line .slider-line__min{
	position: absolute;
	top: -30px;
	color: #b9bec7;
	font-size: 16px;
	text-align: center;
	width: 50px;
}
.filter-field_slider .slider-line .slider-line__min{
	left: 0;
	margin-left: -25px;
}
.filter-field_slider .slider-line .slider-line__max{
	right: 0;
	margin-right: -25px;
}
.filter-field_slider .slider-line .ui-slider-handle__val{
	position: absolute;
	top: -35px;
	color: #757b87;
	font-size: 16px;
	text-align: center;
	width: 50px;
	font-style: normal;
	background: rgba(248,248,248,0.75);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.filter-field_slider .slider-line .handle-start .ui-slider-handle__val{
	left: 0;
	margin-left: -17px;
}
.filter-field_slider .slider-line .handle-end .ui-slider-handle__val{
	right: 0;
	margin-right: -17px;
}

.filter-field_slider .slider-line .ui-slider-range{
	background: #3399ff;
	height: 5px;
	position: absolute;
}
.filter-field_slider .slider-line .ui-slider-handle{
	background: #3399ff;
	position: absolute;
	height: 16px;
	width: 8px;
	top: 5px;
	cursor: pointer;
}
.filter-field_slider .slider-line .ui-slider-handle:before{
	content: '';
	width: 1px;
	height: 9px;
	display: block;
	background: #d5d5d5;
	position: absolute;
	top: -14px;
	margin-left: -1px;
}
.filter-field_slider .slider-line .ui-slider-handle:after{
	content: '';
	display: block;
	border: 8px solid transparent;
	border-top-color: #f8f8f8;
	position: absolute;
	top: 0;
}

.filter-field_slider .slider-line .ui-slider-handle.handle-start{margin-left: -8px;}
.filter-field_slider .slider-line .ui-slider-handle.handle-start:before{margin-left: 8px;}
.filter-field_slider .slider-line .ui-slider-handle.handle-start:after{left: -8px;}



.rate-stars{
	height: 14px;
	width: 70px;
	background: url("../img/icons/rate-d.svg") repeat-x 0 0;
	position: relative;
	display:inline-block;
	background-size: contain;
}
.rate-stars:before{
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: url("../img/icons/rate-c.svg") repeat-x 0 0;
	background-size: contain;
}
.rate-stars_0:before{width: 0}
.rate-stars_1:before{width: 20%}
.rate-stars_2:before{width: 40%}
.rate-stars_3:before{width: 60%}
.rate-stars_4:before{width: 80%}
.rate-stars_5:before{width: 100%}



.rate-person{
	position: relative;
	display: inline-block;
	height: 13px;
	width: 11px;
	padding: 6px 8px 7px;
	margin: 0 6px;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.rate-person:before{
	content: '';
	right: 8px;
	top: 6px;
	left: 7px;
	bottom: 7px;
	position: absolute;
	display: inline-block;
	background: url("../img/icons/persons-num.svg") repeat-x 0 0;
	background-size: auto 100%;
}

.rate-person_1{width: 11px;}
.rate-person_2{width: 23px;}
.rate-person_3{width: 35px;}
.rate-person_more{
	width: 35px;
	padding-right: 20px;
}
.rate-person_more:before{
	right: auto;
	width: 35px;
}
.rate-person_more:after{
	content: '+';
	color: #262a33;
	right: 6px;
	position: absolute;
	top: 2px;
}


.tooltip-hint{
	background: #2d2d2d;
	color: #fff;
	position: absolute;
	z-index: 9999;
	padding: 7px 10px;
	font-size: 14px;
}
.tooltip-hint:after{
	content: '';
	border: 4px solid transparent;
	border-bottom-color: #2d2d2d;
	position: absolute;
	left: 50%;
	margin-left: -4px;
	top: -8px;
}
