/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body {
	-webkit-text-size-adjust: none;
	-webkit-text-size-adjust: none!important;
	-ms-text-size-adjust: none;
	-ms-text-size-adjust: none!important;
	text-size-adjust: none;
	text-size-adjust: none!important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, main, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
}
b{
	font-weight: 700;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}

body {
	font-size: 14px;
	font-family: 'Segoe UI', 'SegoeUI', sans-serif;
	width: 100%;
	height: 100%; /*необходимо для прижатия футера к низу*/
	line-height: 1;
	/*background: #f2f2f2;*/
}

* {outline:none;}

input::-webkit-search-cancel-button {display: none;}
label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

input[type="password"],
input[type="text"]{
	background: #fff;
	border: 1px solid #cfcfcf;
	font-family: 'Segoe UI', 'SegoeUI', sans-serif;
	padding: 0;
	margin: 0;
}
input[type="password"]:focus,
input[type="text"]:focus{
	border-color: #3fb4c6;
}

a {
	text-decoration:underline;
	color:inherit;
}

a:hover {
	color:inherit;
	text-decoration:none;
}

hr{
	background: #d5d5d5;
	height: 1px;
	border: none;
	margin: 0;
}

.clearfix:after, .clearfix:before{
	content:"";
	display:table;
	clear:both;
}

.date{
	white-space:nowrap;
}