.modal{}

.modal-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
}


.modal{
	position: absolute;
	display: none;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
}
.modal-inner{
	position: relative;
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	left: 50%;
	margin-left: -377px;
	width: 754px;


	background: #f5f6f8;
	padding: 30px 30px 20px;
	border: 1px solid #cfcfcf;
}

.modal .title{
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}

.modal_tabs .modal-inner,
.modal-addaccount .modal-inner{
	background: none;
	padding: 0;
	border: none;
}

.modal_tabs .tabs-head,
.modal-addaccount .tabs-head{
	font-size: 0;
	margin-bottom: -1px;
}
.modal_tabs .tabs-head .tab-bookmark,
.modal-addaccount .tabs-head .tab-bookmark{
	background: #fff;
	border: 1px solid #cfcfcf;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	margin-right: -1px;
	padding: 2px 30px 4px;
	min-width: 110px;
	text-align: center;
	font-weight: 300;
}

.modal .modal-close{
	background: url("../img/icon-input_clear.svg") no-repeat 50% 50%;
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 30px;
}
.modal_tabs .modal-close,
.modal-addaccount .modal-close{
	top: 40px;
}
.modal_tabs .tabs-head .tab-bookmark.active,
.modal-addaccount .tabs-head .tab-bookmark.active{
	background: #f5f6f8;
	z-index: 1;
	position: relative;
	border-bottom-color: #f5f6f8;
}

.modal_tabs .tabs-body,
.modal-addaccount .tabs-body{
	background: #f5f6f8;
	padding: 30px 30px 20px;
	border: 1px solid #cfcfcf;
}
.modal_tabs .tabs-body .tab-item,
.modal-addaccount .tabs-body .tab-item{display: none;}
.modal_tabs .tabs-body .tab-item.active,
.modal-addaccount .tabs-body .tab-item.active{display: block;}
.modal_tabs .tabs-body .tab-item .title,
.modal-addaccount .tabs-body .tab-item .title{
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}
.modal_tabs .tabs-body .tab-item .field,
.modal-addaccount .tabs-body .tab-item .field{
	font-size: 14px;
	color: #959595;
	margin: 10px 0;
}
.modal_tabs .tabs-body .tab-item .field .label,
.modal-addaccount .tabs-body .tab-item .field .label{
	margin-bottom: 7px;
}
.modal_tabs .tabs-body .tab-item .field input,
.modal_tabs .tabs-body .tab-item .field textarea{
	font: inherit;
	color: #383838;
	padding: 5px 20px;
	border: 1px solid #cfcfcf;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.modal-addaccount .tabs-body .tab-item .field input,
.modal-addaccount .tabs-body .tab-item .field textarea{
	font: inherit;
	color: #383838;
	padding: 5px 20px;
	border: 1px solid #cfcfcf;
}
.modal-addaccount .tabs-body .tab-item .field input.width,
.modal-addaccount .tabs-body .tab-item .field textarea.width{
	width: 530px;
}
.modal-addaccount .tabs-body .tab-item .field textarea.width{
	height: 65px;
	resize: none;
}
.modal-addaccount .tabs-body .tab-item .field .checkbox-case{
	color: #383838;
}
.modal-addaccount .tabs-body .tab-item .field .btn{
	margin: 10px 0;
}




.modal-emploeeysrights{}

.modal-emploeeysrights .modal-inner{
	background: #f5f6f8;
	border: 1px solid #cfcfcf;
	width: 600px;
	margin-left: -300px;
	left: 50%;
	padding: 40px 20px 15px;
}

.modal-emploeeysrights__head{text-align: center;}
.modal-emploeeysrights__head .title{
	color: #383838;
	font-size: 20px;
	font-weight: 300;
}
.modal-emploeeysrights__head .name{
	color: #3399ff;
	font-size: 16px;
	font-weight: 300;
}
.modal-emploeeysrights__body{
	height: 280px;
	overflow: hidden;
	margin: 20px 0;
}
.modal-emploeeysrights__body .emploeeysrights-list{
	display: table;
	width: 100%;
}
.modal-emploeeysrights__body .emploeeysrights-item{
	display: table-row;
}
.modal-emploeeysrights__body .emploeeysrights-text,
.modal-emploeeysrights__body .emploeeysrights-checkbox{
	display: table-cell;
	padding: 10px;
	border-bottom: 1px solid #cfcfcf;
}
.modal-emploeeysrights__body .emploeeysrights-checkbox{
	text-align: right;
}

.modal-emploeeysrights__body .emploeeysrights-item .text{
	font-weight: 600;
}
.modal-emploeeysrights__body .emploeeysrights-item .footnote{
	color: #959595;
	margin-bottom: 5px;
}





.modal-emploeeysobject{}
.modal-emploeeysobject .modal-inner{
	width: 726px;
	border: 1px solid #cfcfcf;
	background: #fff;
	left: 50%;
	margin-left: -363px;
	padding: 9px 30px 20px;
}

.modal-emploeeysobject__head{
}
.modal-emploeeysobject__body{
	margin: 10px 0 20px;
}
.modal-emploeeysobject__body .tabs-head{
	margin: 10px 0;
}
.modal-emploeeysobject__body .tabs-head .tab-bookmark.active{
	border-color: #3399ff;
	background: #3399ff;
	color: #fff!important;
	position: relative;
}
.modal-emploeeysobject__body .tabs-head .tab-bookmark.active:after{
	content: '';
	display: block;
	position: absolute;
	border: 8px solid transparent;
	border-top: 5px solid #3399ff;
	left: 50%;
	margin-left: -8px;
	bottom: -13px;
}
.modal-emploeeysobject__body .tabs-body .tab-item{display: none;}
.modal-emploeeysobject__body .tabs-body .tab-item.active{display: block;}

.objects-wrap{
	max-height: 260px;
	overflow: hidden;
}
.tabs-body .objects-item{
	display: inline-table;
	border: 1px solid transparent;
	width: 45%;
	margin: 5px;
}
.tabs-body .objects-item:hover{background: #f5f6f8;}
.tabs-body .objects-item:hover .title{text-decoration: underline;}
.tabs-body .objects-item.active{border-color: #cfcfcf;}
.tabs-body .objects-item .img{
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}
.tabs-body .objects-item .img img{
	width: 40px;
	height: 40px;
	border: 1px solid #a6acaf;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.tabs-body .objects-item .info{
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}
.tabs-body .objects-item .info .title{
	font-size: 18px;
	color: #3399FF;
	text-align: left;
	margin: 0;
	font-weight: 400;
}
.tabs-body .objects-item .info .text{
	font-size: 14px;
	color: #959494;
}


.modal-emploeeysobject__head .search-input{
	display:inline-block;
	vertical-align:top;
	position: relative;
}
.modal-emploeeysobject__head .search-input input{
	border:1px solid #cfcfcf;
	padding:0 30px 0 10px;
	background:#fff;
	font-size: 16px;
	line-height:30px;
	height:30px;
	font-family: SegoeUI, sans-serif;
	font-weight:300;
	color:#7e7e7e;
	width:605px;

	border-radius:2px 0 0 1px;
	-moz-border-radius:2px 0 0 1px;
	-webkit-border-radius:2px 0 0 1px;
}
.section_search__finder-submit{
	vertical-align:top;
	display:inline-block;
	border:1px solid #cfcfcf;
	border-left:none;
	height:40px;
	width:63px;
	cursor:pointer;
	background:#f2f2f2 url("../img/icon-search-d.svg") 50% 50% no-repeat;

	border-radius:0 0 1px 1px;
	-moz-border-radius:0 0 1px 1px;
	-webkit-border-radius:0 0 1px 1px;

	transition:background-color 0.15s ease;
	-moz-transition:background-color 0.15s ease;
	-webkit-transition:background-color 0.15s ease;
}
.section_search__finder-submit:hover{
	background-color:#3399FF;
	border-color:#3399FF;
	background-image: url("../img/icon-search-w.svg");
}

.modal-emploeeysobject__head .search-input__clear{
	width: 29px;
	height: 29px;
	background: url("../img/icon-input_clear.svg") 50% 50% no-repeat;
	position: absolute;
	top: 7px;
	right: 4px;
	cursor: pointer;
}
.modal-emploeeysobject__head .search-input__clear:hover{background-image: url("../img/icon-input_clear-c.svg");}
.modal-emploeeysobject__head .search-input__notepad{
	width: 29px;
	height: 29px;
	background: url("../img/icon-notepad-d.svg") 50% 50% no-repeat;
	position: absolute;
	top: 2px;
	right: 10px;
	cursor: pointer;
}
.modal-emploeeysobject__head .search-input__notepad:hover{background-image: url("../img/icon-notepad-c.svg");}

.modal-addcompany .modal-inner{
	width: 1170px;
	margin-left: -575px;
}
.modal-addchain .modal-inner{
	width: 1170px;
	margin-left: -575px;
}
.modal-addchain .modal-inner .object-add__item_addfile .field-item_file{width: 16.6666%;}

.modal-region{}
.modal-region .field-wrap{overflow: hidden;}
.modal-region .field-wrap .field_region{
	float: left;
	width: 400px;
}
.modal-region .field-wrap .field_fast{margin-left: 455px!important;}
.modal-region .field-wrap .field_fast .fast-title{color: #383838;margin-bottom: 15px}
.modal-region .field-wrap .field_fast .fast-link{
	display: inline-block;
	color: #3399FF;
	border-bottom: 1px dashed;
	cursor: pointer;
}
.modal-region .field-wrap .field_fast .fast-link:hover{
	border-bottom-color: transparent;
}



.nest{}
.modal-region .nest{
	max-height: 200px;
	overflow: hidden;
	position: relative;
}
.nest-list{
	margin-left: 20px;
}
.nest-item{
	padding: 3px 0;
}
.nest-case{}
.nest-marker{
	display: inline-block;
	width: 40px;
	height: 22px;
	cursor: pointer;
	margin-left: -25px;
	position: absolute;
}
.nest-marker:before{
	content: '';
	display: block;
	border: 4px solid transparent;
	border-left-color: #959595;
	position: absolute;
	top: 50%;
	left: 12px;
	margin-top: -4px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.nest-marker.open:before{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.nest-list .nest-list{
	display: none;
}












.tooltip-popup{
	position: absolute;
	background: #fff;
	z-index: 100;
	padding: 35px 30px;
	color: #383838;
	width: 400px;
	border: 1px solid #cfcfcf;
	display: none;
}
.tooltip-popup__publication{width: 690px;}
.tooltip-popup__close{
	width: 15px;
	height: 15px;
	background: url("../img/icon-input_clear.svg") 50% 50% no-repeat;
	position: absolute;
	right: 18px;
	cursor: pointer;
	top: 18px;
}
.tooltip-popup__close:hover{background-image: url("../img/icon-input_clear-c.svg");}
.tooltip-popup__title{
	font-size: 20px;
	margin-bottom: 20px;
}
.tooltip-popup__big{
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 10px;
}
.tooltip-popup__subtitle{
	margin-top: 20px;
}
.tooltip-popup .tooltip-popup__text{
	color: #959595;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tooltip-popup__preview{overflow: hidden;}
.tooltip-popup__preview .img{
	float: left;
}
.tooltip-popup__preview .img img{
	display: block;
	max-width: 135px;
}
.tooltip-popup__preview .info{
	margin-left: 160px;
}
.tooltip-popup__text a{
	color: #3399FF;
	border-bottom: 1px dashed;
	text-decoration: none!important;
}





.tooltip-popup__balance{
	width: 300px;
}

.tooltip-popup__bill{width: 740px;}
.tooltip-popup .tooltip-popup__col-1{
	width: 100%;
	position: relative;
	float: left;
}
.tooltip-popup .tooltip-popup__col-2{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	float: left;
	padding-right: 15px;
}
.tooltip-popup .tooltip-popup__col-2:first-child{
	border-right: 1px solid #cfcfcf;
}

.tooltip-popup__bill .tooltip-popup__col-1 .tooltip-popup__big{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
}
.tooltip-popup__bill .tooltip-popup__subtitle{margin-top:10px;}
.tooltip-popup__bill .tooltip-popup__text{margin: 5px 0;}
.tooltip-popup__dl{margin-top: 15px;}
.tooltip-popup__dl .title{
	font-size: 16px;
	vertical-align: top;
	display: inline-block;
	margin-right: 20px;
}
.tooltip-popup__dl a{
	vertical-align: top;
	display: inline-block;
	margin: 0 5px;
}



.modal-cropavatar .modal-inner{
	width: 600px;
	margin-left: -300px;
	padding:20px;
}
.modal-cropavatar .modal__body{text-align: left;}
.modal-cropavatar .modal__footer{text-align: center;}
.modal-cropavatar .modal__footer a{margin: 0 5px;color:#3399ff; }
.modal-cropavatar .modal__body .title{
	text-align: left;
	font-size: 14px;
	color: #3399ff;
}
.modal-cropavatar .modal__body .img{
	margin: 45px 20px 35px;
	position: relative;
	/*height: 410px;*/
}
.modal-cropavatar .modal__body .img:after{
	content: '';
	position: absolute;
	bottom: -20px;
	height: 20px;
	background-color: #24272e;
	opacity: 0.9;
	left: 0;
	width: 100%;
}
.modal-cropavatar .modal__body .img img{
	display: block;
	width: 100%;
}
.modal-cropavatar .modal__body .img .rotate{
	position: absolute;
	z-index: 10;
	top: -28px;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #24272e;
	opacity: 0.9;
}
.modal-cropavatar .modal__body .img .rotate__cw,
.modal-cropavatar .modal__body .img .rotate__ccw{
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 0 5px;
	background: no-repeat 50% 50%;
	cursor: pointer;
}
.modal-cropavatar .modal__body .img .rotate__cw{
	background-image: url("../img/cropper-rotate-cw.svg");
}
.modal-cropavatar .modal__body .img .rotate__ccw{
	background-image: url("../img/cropper-rotate-ccw.svg");
}





.modal_group-remove .modal-inner{
	text-align: center;
	padding: 40px 20px;
	width: 580px;
}
.modal_group-remove .modal__body{
	margin-bottom: 40px;
	font-size: 14px;
	color: #7f7f7f;
}
.modal_group-remove .modal__footer .btn{
	margin: 0 5px;
}