
body{
	font-size: 14px;
	font-family: 'SegoeUI', sans-serif;
	line-height: 1.3;
	min-width: 1400px;
}

.btn{
	display: inline-block;
	color: #fff!important;
	font-size: 16px;
	cursor: pointer;
	font-weight: 400;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 20px 8px;
	text-decoration: none!important;
	background: #3eb4c5;
	text-align: center;
	position: relative;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn_add{padding: 5px 35px 8px;}
.btn .plus:before{
	content: '';
	display: inline-block;
	margin-left: -17px;
	margin-right: 9px;
	width: 8px;
	height: 8px;
	background: url("../img/plus.svg") no-repeat 0 0;
}
.btn_green{background: #70c63f;}
.btn_gray{background: #959595;}
.btn_orange{background: #f47b20;}

.btn_brdr{
	height: 26px;
	line-height: 24px;
	border: 1px solid #cfcfcf;
	color: #757b87!important;
	background: #fff;
	padding: 2px 19px 3px;
}
.btn_sort{
	height: 26px;
	line-height: 22px;
	font-size: 15px;
	border: 1px solid #cfcfcf;
	color: #757b87!important;
	background: #fff;
	padding: 0 35px 0 15px;
}
.btn_sort:after{
	content: '';
	display: block;
	width: 10px;
	height: 5px;
	background: url("../img/arrow-up-b.svg") no-repeat 50% 50% ;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-left: -5px;
	margin-top: -2px;
	opacity: .7;
}
.btn_sort:hover,
.btn_sort.active{
	border-color: #3fb4c6;
	color: #3fb4c6!important;
}
.btn_sort.active:after{
	background: url("../img/arrow-up-c.svg") no-repeat 50% 50%;
	opacity: 1;
}
.btn_disable{
	background: #959595!important;
	cursor: default!important;
}
.btn_big{
	font-size: 20px;
	padding: 7px 50px 10px;
}
.btn_small{
	font-size: 14px;
	padding: 2px 10px 4px;
}
.btn_empty{
	background: none;
	color: #959595!important;
	border: 1px solid #959595;
	padding-top: 4px;
	padding-bottom: 7px;
}

.btn_orange.btn_brdr{
	color: #f47b20!important;
	border-color: #f47b20;
}

.ico{
	display: inline-block;
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
	background-image: url("../img/ico-sprite.svg");
}
.ico_user{background-position: 0 0;}
.ico_credit{background-position: -17px 0;}
.ico_chain{background-position: -17px 0;}
.ico_mail{background-position: -34px 0;}
.ico_bell{background-position: -51px 0;}
.ico_dialog{background-position: -68px 0;}
.ico_bag{background-position: -85px 0;}
.ico_house{background-position: -102px 0;}
.ico_book{background-position: -119px 0;}
.ico_cal{background-position: -136px 0;}
.ico_setting{background-position: -153px 0;}
.ico_stat{background-position: -170px 0;}
.ico_star-w{
	background: url("../img/stars.svg") no-repeat 0 0;
	width: 16px;
	height: 16px;
}
.ico_star-c{
	background: url("../img/stars.svg") no-repeat -16px 0;
	width: 16px;
	height: 16px;
}

.ico_writing{
	background: url("../img/writing.gif") no-repeat 0 0;
	width: 25px;
	height: 16px;
	vertical-align: middle;
}
.ico_mail_c{
	background: url("../img/ico-mail-c.svg") no-repeat 50% 50%;
	width: 12px;
	height: 10px;
}


.color-c{color: #3eb4c5!important;}
.color-access{color: #70c63f!important;}
.color-waiting{color: #f47b20!important;;}
.color-error{color: #f0082f!important;}
.color-dark{color: #323232!important;}
.color-gray{color: #959595!important;}




.select-wrap{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}


.tab-item{display: none;}
.tab-item.active{display: block;}

.password-eye{
	background: url("../img/icon-eye-d.svg") no-repeat 50% 50%;
	cursor: pointer;
	height: 29px;
	opacity: 0.5;
	position: absolute;
	right: 5px;
	top: 1px;
	width: 29px;
}
.password-eye + input{
	padding-right: 35px;
}
.password-eye:active,
.password-eye:hover{
	background: url("../img/icon-eye-c.svg") no-repeat 50% 50%;
	opacity: 1;
}
.password-eye:active + input[type=password],
.password-eye:hover + input[type=password]{
	border-color: #70b2c3;
	color: #70b2c3;
}




/*	Header start
*****************************************************************************/

.lk-wrapper{min-width: 1440px;}

.lk-menu{
	width: 250px;
	color: #fff;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9999;
	background: #24272e;
	position: fixed;
}

.lk-menu .case{display: table;}
.lk-menu .case-img{display: table-cell;vertical-align: top;}
.lk-menu .case-name{display: table-cell;vertical-align: top;}
.lk-menu .case-amount{display: table-cell;vertical-align: top;}




.lk-menu__header{
	height: 70px;
	overflow: hidden;
}
.lk-menu__logo{
	width: 138px;
	height: 49px;
	display: block;
	margin: 12px auto 0;
}
.lk-menu__logo img{
	width: 100%;
	height: 100%;
}
.lk-menu__inner{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.lk-menu__inner .mCSB_inside > .mCSB_container{margin-right: 0;}
.lk-menu__inner .mCSB_scrollTools .mCSB_draggerRail{display: none;}

.lk-menu__user{
	padding: 20px;
	border-bottom: 1px solid #24272e;
}
.lk-menu__user .case-img{
	vertical-align: top;
	padding-right: 10px;
}
.lk-menu__user .case-img img{
	display: block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 47px;
	height: 47px;
}
.lk-menu__user .case-name{
	vertical-align: middle;
	font-size: 15px;
}


.lk-menu__group{
	border-left: 3px solid transparent;
	padding: 0 20px 0 17px;
	margin: 1px 0;

	-webkit-transition: 	border-color 0.3s ease, background-color 0.3s ease;
	-moz-transition: 		border-color 0.3s ease, background-color 0.3s ease;
	-ms-transition: 		border-color 0.3s ease, background-color 0.3s ease;
	-o-transition: 			border-color 0.3s ease, background-color 0.3s ease;
	transition: 			border-color 0.3s ease, background-color 0.3s ease;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
.lk-menu__group .group-head{
	padding: 10px 20px 10px 0;
	position: relative;
}
.lk-menu__group .group-head:after{
	content: '';
	display: block;
	border: 4px solid transparent;
	border-left-color:#fff;
	position: absolute;
	top: 23px;
	margin-top: -4px;
	right: 7px;
	margin-right: -6px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.lk-menu__group .group-head .case{width: 100%}
.lk-menu__group .group-head .case-img{
	width: 35px;
	padding-top: 4px;
	opacity: 0.75;
}
.lk-menu__group .group-head .case-name{
	font-size: 14px;
	margin-left: 35px;
	line-height: 1.7;
	cursor: pointer;
	opacity: 0.75;
}
.lk-menu__group .group-head .case-amount{
	text-align: right;
	padding-left: 10px;
	padding-top: 2px;
}
.lk-menu__group .amount span,
.lk-menu__group .case-amount span{
	background: #959595;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	font-size: 11px;
	height: 19px;
	line-height: 19px;
	min-width: 7px;
	text-align: center;
	display: inline-block;
	padding: 0 6px;
}
.lk-menu__group .amount span.new,
.lk-menu__group .case-amount span.new{background: #3eb4c5;}

.lk-menu__group a{
	font: inherit;
	text-decoration: none;
}

.lk-menu__group .group-body{display: none;}

.lk-menu__group .group-link{text-decoration: none;}
.lk-menu__group .group-link:hover{text-decoration: underline;}
.lk-menu__group .group-item.active a{color: #3eb4c5;}

.lk-menu__group .group-item_review {opacity: 0.5;}
.lk-menu__group .group-item_review:hover,
.lk-menu__group .group-item_review.active {opacity: 1;}


.lk-menu__group .group-item {
	padding: 10px 0;
}
.lk-menu__group .group-item .amount{
	display: inline-block;
	float: right;
}
.lk-menu .btn{
	width: 100%;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 15px 8px;
	margin: 5px 0 10px;
}

.lk-menu__footer{
	padding: 20px;
}






.lk-menu__group.active{
	border-left-color: #3eb4c5;
	background: #1d2027;
}
.lk-menu__group_inside.active .group-head:after{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.lk-menu__group.active .case-img{opacity: 1;}
.lk-menu__group.active .case-name{opacity: 1;}
.lk-menu__group.open .group-body{display: block;}


.lk-content{
	margin-left: 250px;
}
.lk-content__head{
	background: #f5f5f5;
	border-bottom: 1px solid #e7e7e7;
	height: 49px;
	overflow: hidden;
	padding: 20px 30px 0;
}
.lk-content__head .title{
	color: #333b47;
	font-size: 20px;
	font-weight: 600;
	float: left;
	line-height: 27px;
}
.lk-content__head .right{
	float: right;
}

.lk-content__body{
	padding: 20px 30px;
}

.lk-content__top{
	border-bottom:1px solid #e7e7e7;
	padding: 15px 30px;
}
.lk-content__top span{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.lk-content__top .right span{
	margin-right:0;
}
.lk-content__top .right{
	float: right;
}
.lk-content__top .size-long{
	width: 640px;
}
.lk-table{
	width: 100%;
	margin-bottom: 30px;
}
.lk-table td{
	border-bottom: 1px solid #e7e7e7;
	vertical-align: middle;
	padding: 10px 10px 15px;
}
.lk-table .text-main{
	font-size: 20px;
	font-weight: 600;
}
.lk-table .text-footnote{
	color: #959595;
}
.lk-table a{
	color: #3eb4c5;
}

.lk-table_balance .text-main{
	font-size: 16px;
	font-weight: 400;
}
.lk-table_balance .text-status{
	white-space: nowrap;
}
.lk-table_balance .text-balance{
	font-size: 20px;
	font-weight: 300;
	white-space: nowrap;
}

.lk-table_employees{}
.lk-table .employees-photo{
	width: 64px;
	height: 64px;
	background: #3eb4c5 url("../img/employees-photo.svg") no-repeat 50% 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.lk-table .employees-photo img{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: block;
}
.lk-table .disabled *{
	color: #959595;
}
.lk-table .disabled .btn{
	background: #959595;
}
.lk-table .disabled .employees-photo{
	opacity: 0.5;
}

.lk-table_notify-list{
	color: #959595;
	font-weight: 300;
}
.lk-table_notify-list tr:hover td{ background: #f5f5f5;}
.lk-table_notify-list tr.active td{ color: #4b4b4b; font-weight: 600;}
.lk-table_notify-list td{vertical-align: middle;}
.lk-table .date{
	width: 130px;
}
.lk-table .td-checkbox{
	width: 30px;
}
.lk-table_notify-list .last{
	font-size: 16px;
	text-align: right;
}




.table-status,
.employees-status{
	position: relative;
	min-width: 200px;
}
.table-status.active *,
.employees-status.active *{color: #70c63f;}
.table-status.waiting *,
.employees-status.waiting *{color: #f47b20;}
.table-status.waiting *,
.employees-status.waiting *{color: #f47b20;}
.table-status.fired *,
.employees-status.fired *{color: #959595;}
.status-marker,
.table-status .status-marker,
.employees-status .status-marker{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: none;
	/*color: currentColor;*/
	position: relative;
	top: 2px;
	margin-right: 7px;
}
.status-marker:before,
.status-marker:after,
.table-status .status-marker:before,
.table-status .status-marker:after,
.employees-status .status-marker:before,
.employees-status .status-marker:after{
	content: '';
	display: inline-block;
	position: absolute;
	background: currentColor;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.status-marker:before,
.table-status .status-marker:before,
.employees-status .status-marker:before{
	width: 9px;
	height: 9px;
	top: 3px;
	left: 3px;
}
.status-marker:after,
.table-status .status-marker:after,
.employees-status .status-marker:after{
	display: inline-block;
	width: 15px;
	height: 15px;
	opacity: 0.5;
}
.table-status__actual,
.employees-status__actual{
	color: currentColor;
	cursor: pointer;
}
.table-status .table-status__label{
	color: #323232;
	font-weight: 600;
	margin-right: 10px;
}
.employees-status__actual:after{
	content: '';
	display: inline-block;
	border: 4px solid transparent;
	border-top-color: currentColor;
	margin-left: 10px;
}
.table-status__bar,
.employees-status__bar{
	position: absolute;
	left: 0;
	top: 30px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	padding: 5px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	color: #757b87;
	z-index: 10;
	display: none;
}
.table-status__bar-item,
.employees-status__bar-item{
	color: #383838!important;
	cursor: pointer;
	margin: 5px 0;
}
.table-status__bar-item:hover,
.employees-status__bar-item:hover{
	text-decoration: underline;
}











.message-list{}
.message-group{
	border: 1px solid #cfcfcf;
	margin-bottom: 9px;
	display: table;
	/*padding: 5px;*/
	border-collapse: separate;
	border-spacing: 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.message-group a{color: #3fb4c6;}
.message-group__col{
	display: table-cell;
	padding: 10px 15px;
}
.message-group__col_settings{
	white-space: nowrap;
	vertical-align: bottom;

}
.message-list .message-group__col_settings{opacity: 0;text-align: right;}
.message-group .message-item{
	display: inline-table;
}
.message-group .message-item__user{
	display: table-cell;
	vertical-align: top;
	padding-right: 20px;
}
.message-group .message-item__user img{
	display: block;
	width: 47px;
	height: 47px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #d5d5d5;
}
.message-group .message-item__info{
	display: table-cell;
	vertical-align: top;
}
.message-group .message-item__name{
	font-size: 18px;
	color: #3fb4c6;
	margin-bottom: 3px;
}
.message-group .message-item__name .date{
	font-size: 14px;
	color: #959595;
}
.message-group .message-item__text{
	font-size: 15px;
	color: #4b4b4b;
}
.message_unread{background: #f5f5f5;}
.message-group__col_companion{
	width: 370px;
}

.message-dialog{
	border: 1px solid #cfcfcf;
}
.message-dialog .message-group{
	margin-bottom: 1px;
	border: none;
}
.message-dialog .message-group_answer{padding-left: 100px;padding-bottom: 15px}
.message-dialog .message-group_answer-info{padding-left: 95px; color: #959595;}
.message-dialog .message-group_answer-info .message-group__col{padding: 0 10px 0 0; }
.message-dialog .message-group_reply{padding-left: 95px; color: #959595;}
.message-dialog .message-group_reply .message-group__col{padding: 0 10px 0 0; }
.message-dialog .message-group_answer .message-group__col{border-left: 2px solid #3fb4c6;}
.message-dialog .message__answer{border-top:1px solid #d5d5d5 ;}





.message-list .message-group:hover{background: #f5f5f5;}
.message-list .message-group:hover .message-group__col_settings{opacity: 1;}


.message-dialog .message{}
.message-dialog .message.message_active{background: #f5f5f5; }
.message_active-set{display: none;}
.message_active-set.active{display: block;}




















.objects-type{
	text-align: center;
}
.objects-type .type-list{
	width: 1250px;
	margin: 0 auto 40px;
}
.objects-type .title{
	font-size: 36px;
	color: #959595;
	font-weight: 600;
	margin: 80px 0 35px;
}
.objects-type .type-ico{
	width: 116px;
	height: 116px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: currentColor;
}
.objects-type .type-item{
	width: 250px;
	height: 250px;
	border: 1px solid #d0d0cf;
	display: inline-block;
	margin: 20px;
	cursor: pointer;
	vertical-align: top;
	padding-top: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.objects-type .type-item_club{color: #a75d92;}
.objects-type .type-item_section{color: #c56246;}
.objects-type .type-item_ground{color: #e78826;}
.objects-type .type-item_active{color: #65c941;}
.objects-type .type-item_tourism{color: #3fb4c6;}
.objects-type .type-item_med{color: #2e34be;}

.objects-type .type-title{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 8px;
	height: 50px;
	line-height: 1.1;
}
.objects-type .type-title:after{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.objects-type .type-title span{
	display: inline-block;
	vertical-align: middle;
	width: 90%;
}
.objects-type .type-text{color: #959595;}
.objects-type .type-item.active{
	border: 2px solid currentColor;
	padding-top: 19px;
}
.objects-type .type-submit .btn{
}






.object-add{
	padding-bottom: 70px;
}
.object-add__container-inner{
	padding-right: 34%;
}
.object-add__container{
	float: left;
	width: 100%;
	padding-bottom: 70px;
}
.object-add .next{
	text-align: center;
}
hr{
	padding: 0;
	outline: none;
	height: 1px;
	background: #e7e7e7;
	border: 0;
	float: none;
	clear: both;
	margin:0 30px 20px 0;
}
.object-add__container .title{
	color: #959595;
	font-size: 34px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 10px;
}





.object-add__example{
	float: left;
	margin-left: -34%;
	position: relative;
	width: 34%;
	color: #959595;
}
.object-add__example-inner{
	position: relative;
}
.object-add__example-inner .example-item{
	display: none;
}
.object-add__example-inner .example-item.active{
	display: block;
}
.object-add__example-scroll{
	position: relative;
}
.object-add__example .example-item{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border-left: 1px solid #e7e7e7;
	padding: 15px 50px 15px 30px;
	overflow: hidden;
	margin-top: -10px;
}
.object-add__example .example-item:before{
	content: '';
	display: block;
	position: absolute;
	border: 8px solid transparent;
	border-left-color: #959595;
	top: 22px;
	z-index: 10;
	left: 0px;
}
.object-example__title{
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 300;
}
.object-example__text{margin: 10px 0;}
.object-example__imgs{
	margin: 10px -5px;
}
.object-example__imgs .photo-item{
	float: left;
}
.object-example__imgs .photo-item span{
	display: block;
	padding: 4px 5px;
}
.object-example__imgs .photo-item span img{
	display: block;
	width: 100%;
	border: 1px solid #cfcfcf;
}
.object-example__imgs .photo-item-3{
	width: 33.3333%;
}
.object-example__imgs .photo-item-4{
	width: 25%;
}





.object-add__item{
	color: #959595;
	/*width: 100%;*/
	margin-right: 25px;
	padding: 3px;
	position: relative;
}


.object-add__item .field-label{
	width: 140px;
	float: left;
	padding: 4px 0;
}
.object-add__item .field-box{
	font-size: 0;
	margin-left: 150px;
	margin-right: 50px;
	position: relative;
}
.object-add__item .field-item{
	position: relative;
}
.js-input-wrap{position: relative;}
.input__clear{
	width: 10px;
	height: 10px;
	background: url("../img/icon-input_clear.svg") 50% 50% no-repeat;
	position: absolute;
	right: 11px;
	cursor: pointer;
	top: 50%;
	margin-top: -5px;
	display: none;
}

.input__clear:hover{background-image: url("../img/icon-input_clear-c.svg");}
.js-input-wrap.filled .input__clear{display: block;}
.input__notepad{
	width: 29px;
	height: 28px;
	background: url("../img/icon-notepad-d.svg") 50% 50% no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -14px;
	right: 5px;
	cursor: pointer;
	-webkit-transition: right 0.3s ease;
	-moz-transition: right 0.3s ease;
	-ms-transition: right 0.3s ease;
	-o-transition: right 0.3s ease;
	transition: right 0.3s ease;
}
.input__notepad:hover{background-image: url("../img/icon-notepad-c.svg");}
.js-input-wrap.filled .input__notepad{right: 28px;}
.input__search{
	width: 29px;
	height: 28px;
	background: url("../img/icon-search-d.svg") 50% 50% no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -14px;
	right: 30px;
	cursor: pointer;
	-webkit-transition: right 0.3s ease;
	-moz-transition: right 0.3s ease;
	-ms-transition: right 0.3s ease;
	-o-transition: right 0.3s ease;
	transition: right 0.3s ease;
}
.input__search:hover{background-image: url("../img/icon-search-c.svg");}
.js-input-wrap.filled .input__search{right: 53px;}


.input__result{
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	top: 31px;
	border: 1px solid #cfcfcf;
	z-index: 10;
	display: none;
	max-height: 250px;
}
.input__result .list-item{
	margin: 2px 10px;
	cursor: pointer;
}
.input__result .list-item:hover{
	text-decoration: underline;
	color: #3fb4c6;
}


textarea ~ .input__clear{
	top: 15px;
}
textarea ~ .input__notepad{
	top: 15px;
}
.object-add__item .field-box__add,
.object-add__item .field-box__remove{
	height: 32px;
	width: 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: -30px;
	cursor: pointer;
}
.object-add__item .field-box__add{background-image: url("../img/field-box-add.svg")}
.object-add__item .field-box__remove{background-image: url("../img/field-box-remove.svg")}
.object-add__item .field-item{
	display: inline-block;
	font-size: 14px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
}
.object-add__item .field-box .field-footnote{
	min-height: 28px;
	font-size: 14px;
}
.object-add__item .field-box .field-footnote .footnote-link{cursor: pointer;display: inline-block; margin-right: 5px;}
.object-add__item .field-box .field-footnote .footnote-link:hover{text-decoration: underline;}

.object-add__item .field-item_list .list-title,
.object-add__item .field-box textarea,
.object-add__item .field-box input,
.object-add__item .field-box .btn{
	line-height: 30px;
	height: 32px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	font-size: 14px;
	width: 100%;

	border-radius: 2px;
	padding: 0 10px;
}
.object-add__item .field-item_list .list-title,
.object-add__item .field-box textarea,
.object-add__item .field-box input{
	border: 1px solid #cfcfcf;
}
.lk-content .field-item_list .list-title,
.lk-content textarea,
.lk-content input{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.lk-content textarea{
	resize: none;
	height: 135px;
}
.object-add__item .field-box .btn:hover{
	border-color: #3eb4c5;
}
.object-add__item .field-box .btn.active{
	border-color: #3eb4c5;
	color: #fff!important;
	background-color: #3eb4c5;
}
.object-add__item .field-box .sbHolder{
	font-size: 14px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 32px;
	line-height: 30px;
}
.object-add__item .field-box .sbHolder li{line-height: 1.2;}
.object-add__item .field-box .sbSelector{
	font-size: 14px;
	width: auto;
	position: relative;
	margin-right: 15px;
	line-height: 30px;
	height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.object-add__item .field-box .sbOptions span,
.object-add__item .field-box .sbOptions a{
	font-size: 14px;
	line-height: 1;
}
.object-add__item_addfile .field-label{
	width: auto;
	float: none;
	padding-bottom: 10px;
}
.object-add__item_addfile .field-item_file{
	width: 25%;
	padding-right: 10px;
	padding-bottom: 15px;
}

.object-add__item_btn .btn{
	min-width: 160px;
	margin: 20px 0;
}

.object-add__item_btn .btn{
	min-width: 160px;
	margin: 20px 0;
}

.object-add__item .field-item_checkbox .checkbox-case{
	display: inline-block;
	padding-top: 4px;
}
.object-add__item .field-item_date{
	width: 190px;
	padding-right: 20px;
}
.object-add__item .date-input{
	color: #959595;
}

.object-add__item .field-item_date .input-wrap {
	position: relative;
}
.object-add__item .field-item_date .input-wrap:after {
	background: url("../img/arrow-down-b.svg") no-repeat 50% 50%;
	content: "";
	display: block;
	height: 5px;
	right: 10px;
	margin-left: -5px;
	margin-top: -2px;
	opacity: 0.7;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	width: 10px;
}
.object-add__item .field-item_date .input-wrap.opened:after {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}


.object-add__item_objlist .tabs-body .objects-item .info .title{font-size: 17px;}
.object-add__item_objlist.object-add__item .field-item_list .list-wrap .list{max-height: 250px;}

.object-add__item .field-item_list .list-title{
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.object-add__item .field-item_list .list-title:after {
	background: url("../img/arrow-down-b.svg") no-repeat 50% 50%;
	content: "";
	display: block;
	height: 5px;
	right: 10px;
	margin-left: -5px;
	margin-top: -2px;
	opacity: 0.7;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	width: 10px;
}
.object-add__item .field-item_list .list-title_opened:after {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.object-add__item .field-item_list .list-wrap {
	padding: 9px;
	border: 1px solid #cfcfcf;
	margin-top: -1px;
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	z-index: 10;
	left: 0;
	right: 0;
	display: none;
}
.object-add__item .field-item_list .list-wrap .list-search{
	margin-bottom: 10px;
}
.object-add__item .field-item_list .list-wrap .list-menu{
	margin: 10px 0 0;
}
.object-add__item .field-item_list .list-wrap .list-menu .btn{
	width: auto;
	margin-bottom: 10px;
}
.object-add__item .field-item_list .list-wrap .list{
	max-height: 190px;
	overflow: hidden;
}
.object-add__item .field-item_list .list-wrap .list-item_object,
.object-add__item .field-item_list .list-wrap .list-item {
	margin: 5px 0;
	cursor: pointer;
}



.object-add__item .field-item_list .list-wrap .list-item_object:hover,
.object-add__item .field-item_list .list-wrap .list-item:hover{color: #70b2c3;}


.object-add__item .field-item_list-result{
	width: 300px;
	padding-left: 50px;
}
.object-add__item .field-item_list-result .list-title{
	margin: 5px 0;
	font-weight: 600;
}
.object-add__item .field-item_list-result .list-wrap{
	margin-bottom: 10px;
}
.object-add__item .field-item_list-result .list-item{
	margin: 5px 0;
}
.object-add__item .field-item_list-result .list-item__remove{
	display: inline-block;
	background: url("../img/icon-input_clear.svg") no-repeat 50% 50%;
	cursor: pointer;
	height: 8px;
	width: 8px;
	vertical-align: middle;
	margin: 0 5px;
}
.object-add__item .field-item_list-result .list-item__remove:hover{background-image: url("../img/icon-input_clear-c.svg");}

.object-add .field-item .list-item__bullet{
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	margin-right: 5px;
	background: #505050;
}

.object-add__item_moreobjtypes_s{}
.object-add__item_moreobjtypes_s .field-footnote{color: #70b2c2;}

.object-add__item_moreobjtypes_s .field-item_list .list-wrap .list-search{
	width: 70%;
	float: left;
}

.object-add__item_moreobjtypes_s .field-item_list .list-wrap .list{
	width: 70%;
	float: left;
}
.object-add__item_moreobjtypes_s .field-item_list .list-wrap .list-menu{
	width: 70%;
	float: left;
	margin: 0;
}

.object-add__item_moreobjtypes_s .field-item_list .list-wrap .field-item_list-result{
	width: 30%;
	float: right;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.object-add__item_moreobjtypes_s .field-item_list .list-wrap .field-item_list-result.clear{
	display: block;
}
.object-add__item_moreobjtypes_s .field-item_list .list-wrap .field-item_list-result .list-title{
	margin: 0;
	border: 0;
	background: #f5f5f6;
}
.object-add__item_moreobjtypes_s .field-item_list .list-wrap .field-item_list-result .list-title:after{
	display: none;
}
.object-add__item_moreobjtypes_s .field-item_list .list-wrap .field-item_list-result .list-scroll{
	background: #f5f5f6;
	height: 200px;
}
.object-add__item_moreobjtypes_s.tabs .field-item_list .list-wrap .field-item_list-result .list-scroll{
	height: 245px;
}
.object-add__item_moreobjtypes_s .field-item_list .list-wrap .field-item_list-result .list-wrap{
	display: block;
	position: relative;
	margin: 0;
	background: none;
	border: 0;
}
.object-add__item_moreobjtypes_s .field-item_list .list-wrap .field-item_list-result .list-wrap .list-item{
	margin: 2px 0;
	float: none;
	width: 100%;
}
.object-add__item_moreobjtypes_s .field-item_list .list-wrap .list .list-item{
	float: left;
	width: 50%;
}


.obj-case{
	display: inline-table;
}
.obj-case__img{
	display: table-cell;
	padding-right: 10px;
}
.obj-case__img img{
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #cecece;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.obj-case__info{
	display: table-cell;
	vertical-align: middle;
}









.object-add__item_clubnetwork .field-item_list{width: 80%;padding-right: 10px}
.object-add__item_clubnetwork .field-item_btn{width: 20%;}
.object-add__item_worktime .field-item_btns .btn{
	font-size: 14px;
	width: 13%;
	margin-right: 1%;
	padding: 0;
}
.object-add__item_location-subway .field-item_list,
.object-add__item_moreobjtypes .field-item_list{
	width: 50%;
	padding-right: 10px;
}
.object-add__item_location-subway .field-item_list .list-wrap,
.object-add__item_moreobjtypes .field-item_list .list-wrap{
	right: 10px;
}
.object-add__item_location-subway .field-item_list-result,
.object-add__item_moreobjtypes .field-item_list-result{
	width: 50%;
	padding: 0;
}


.object-add__item .field-item_textarea textarea{
	height: 100px;
	line-height: 1.2;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #959595;
}
.object-add__item_worktime .field-item_btns{
	width: 55%;
	padding-right: 50px;
	font-size: 0;
}
.object-add__item_tabs .field-item_btns .btn{
	width: 130px;
}

.object-add__item .field-item_list .list-wrap .list-menu .btn.active:after,
.object-add__item_tabs .field-item_btns .btn.active:after{
	content: '';
	display: block;
	border: 8px solid transparent;
	border-top: 5px solid #3eb4c5;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	bottom: -13px;
}



.object-add__item_worktime .field-item_select{
	width: 45%;
	font-size: 0;
}
.object-add__item_worktime .field-item__one{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	width: 20.5%;
}
.object-add__item_worktime .field-item__devider,
.object-add__item_worktime .field-item__devider-long{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	width: 5%;
	text-align: center;
}
.object-add__item_worktime .field-item__devider-long{width: 8%;}
.object-add__item_location-country .field-item_select {width: 50%;padding-left: 10px;}
.object-add__item_location-country .field-item_select:first-child {padding-left: 0;}

.object-add__item .field-item_long {width: 50%; padding-right:10px; }
.object-add__item .field-item_short {width: 16.6666%; padding-right:10px; }

.object-add__item_location-address .field-item_input {padding-left: 10px;}
.object-add__item_location-address .field-item_input-long {width: 50%;padding-left: 0;}
.object-add__item_location-address .field-item_input-short {width: 16.6666%;}
.object-add__item_location-coord .field-item_input {width: 210px; padding-right: 10px;}
.object-add__item_location-subway .field-item_select {width: 34%; padding-right: 10px;}
.object-add__item_location-path .field-item_select {width: 34%; padding-right: 10px;}
.object-add__item_location-path .field-item_input {width: 66%; }
.object-add__item_location-map .field-item_map .map{height: 320px; background: #3eb4c5;}
.object-add__item_location-map .map-switch {
	display: inline-block;
	float: right;
	color:#3eb4c5;
	border-bottom: 1px dashed;
	cursor: pointer;
}
.object-add__item_location-map .map-switch:hover {border-bottom-color: transparent;}


.object-add__item_addfile .field-box{margin-left: 0;/* margin-bottom: 30px*/}
.object-add__item_addfile .field-item_file .file-img{border: 1px solid #cfcfcf;background: #f5f5f5;position: relative;}
.object-add__item_addfile .field-item_file-upload .file-img{background: #f5f5f5 url("../img/photo.svg") no-repeat 50% 50%;}
.object-add__item_addfile .js-upload-new-file{cursor: pointer;}
.object-add__item_addfile .field-item_file .file-img img{width: 100%;display: block;}
.object-add__item_addfile .field-item_file .file-name{text-align: center;}
.object-add__item_addfile .field-item_file .file-progress{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 5px;
}
.object-add__item_addfile .field-item_file .footnote-input{
	margin-top: 5px;
}
.object-add__item_addfile .field-item_file .file-remove{
	position: absolute;
	top: 5px;
	right: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: #fff url("../img/icon-input_clear.svg") no-repeat 50% 50%;

	-webkit-background-size: 10px 10px;
	background-size: 10px 10px;
	display: none;
	cursor: pointer;
}
.object-add__item_addfile .field-item_file:hover .file-remove{
	display: block;
}
.object-add__item_addfile .field-item_file .file-progress span{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: #3eb4c5;
}
.object-add__item_addfile .field-item_file .file-name .file-name__item{
	color: #3eb4c5;
	display: inline-block;
	max-width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.object-add__item_addfile .field-item_file .file-name .file-name__size{color: #939393;vertical-align: top;}
.object-add__item_addfile .field-item_file .file-footnote{text-align: center;}
.object-add__item_addfile .field-item_file .file-footnote .footnote-link{display:inline-block;margin: 0 5px;cursor: pointer;}
.object-add__item_addfile .field-item_file .file-footnote .footnote-link:hover{text-decoration: underline;}
.object-add__item_addfile .field-item_file .file-footnote .footnote-input input{text-align: center;}

.object-add__item_contact-phone .field-item_input {padding-left: 10px;}
.object-add__item_contact-phone .field-item_input-long {width: 50%;}
.object-add__item_contact-phone .field-item_input-short {width: 16.6666%;}
.object-add__item_contact-phone .field-item_input:first-child {padding-left: 0;}


.object-add__item_contact-pager .field-item_select {width: 34%; padding-right: 10px;}
.object-add__item_contact-pager .field-item_input {width: 66%; }
.object-add__item_contact-soc .field-item_select {width: 34%; padding-right: 10px;}
.object-add__item_contact-soc .field-item_input {width: 66%; }
.object-add__item_contact-moreinf .field-item_select {width: 34%; }
.object-add__item_services-info .field-item_input,
.object-add__item_services-info .field-item_select{width: 140px; padding-right: 10px;}
.object-add__item_connect .field-item_input{width: 80%; padding-right: 10px;}
.object-add__item_connect .field-item_btn{width: 20%;}
.object-add__item_connect .field-label{max-height: 50px;}



.object-add__item_rekv-1 .field-item_input{width: 300px}
.object-add__item_rekv-2 .field-item_input{width: 400px}
.object-add__item_rekv-3 .field-item_input{width: 500px}

.object-add__item_passchange .field-item_input{width: 250px}
.object-add__item_passchange .field-item_btn{width: auto}

.object-add__item_price-choose .field-item_line{
	display: inline-block;
	white-space: nowrap;
	width: 130px;
	padding-right: 10px;
}
.object-add__item_price-choose .checkbox-case{height: 28px;}
.object-add__item_price-choose .field-item.hidden{display: none;}



.object-add__publication{
	color: #959595;
	width: 720px;
	margin: 20px 0;
}
.object-add__publication .hide{
	display: none;
	overflow: hidden;

}
.object-add__publication .publication-info{
	margin: 15px 0 0;
}
.object-add__publication .publication-info .checkbox-case{
	vertical-align: middle;
	position: relative;
	top: 4px;
}
.object-add__publication .publication-item{
	background: #f5f5f5;
	padding: 15px;
	margin: 15px 0;
	font-size: 15px;
	overflow: hidden;
}
.object-add__publication .publication-item_top{
	height: 20px;
	border-bottom: 1px solid #cfcfcf;
}
.object-add__publication .publication-item_top .left{
	float: left;
	background: #f5f5f5;
	position: relative;
	top: 2px;
	padding-right: 10px;
}
.object-add__publication .publication-item_top .right{
	float: right;
	background: #f5f5f5;
	position: relative;
	top: 2px;
	padding-left: 10px;
}
.object-add__publication .publication-item_body{
	margin-top: 10px;
}
.object-add__publication .publication-item_body .img{
	float: left;
	border: 1px solid #cfcfcf;
}
.object-add__publication .publication-item_body .img img{display: block;max-width: 135px;}
.object-add__publication .publication-item_body .info{margin-left: 165px;}
.object-add__publication .publication-item_body .info__text{font-size: 14px;margin-top: 5px;}
.object-add__publication .publication-info .btn{
	width: 200px;
	vertical-align: top;
	font-size: 14px;
}
.object-add__publication .publication-info .publication-message{
	width: 440px;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	display: inline-block;
	font-size: 14px;
	padding: 5px 15px 6px;
	vertical-align: top;
}




.object-add__progress{
	position: fixed;
	background: #fff;
	bottom: 0;
	left: 250px;
	z-index: 1;
	right: 0;
	font-size: 12px;
	color: #959595;
}
.object-add__progress .progress-wrap{
	display: table;
	width: 100%;
}
.object-add__progress .progress-item{
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding: 0 6px;
	width: 12.5%;
	cursor: pointer;
}
.object-add__progress .progress-item_first{padding-left: 0;}
.object-add__progress .progress-item_last{padding-right: 0;}
.object-add__progress .progress-inner{
	display: table;
	width: 100%;
	background: #f4f4f4;
}
.object-add__progress .progress-view,
.object-add__progress .progress-step{
	display: table-cell;
	vertical-align: middle;
	padding: 5px 10px;
	position: relative;
}
.object-add__progress .progress-view{
	width: 41px;
}
.object-add__progress .progress-view:after,
.object-add__progress .progress-view:before{
	content: '';
	position: absolute;
	left: -10px;
	border: 10px solid transparent;
}
.object-add__progress .progress-view:before{
	border-top: 25px solid #f4f4f4;
	top: 0;
}
.object-add__progress .progress-view:after{
	border-bottom: 25px solid #f4f4f4;
	bottom: 0;
}

.object-add__progress .progress-step:after{
	content: '';
	border: 25px solid transparent;
	border-left: 10px solid #f4f4f4;
	position: absolute;
	top: 0;
	right: -35px;
}

.object-add__progress .progress-item:hover .progress-inner{background: #eaeaea;}
.object-add__progress .progress-item:hover .progress-view:before{border-top: 25px solid #eaeaea;}
.object-add__progress .progress-item:hover .progress-view:after{border-bottom: 25px solid #eaeaea;}
.object-add__progress .progress-item:hover .progress-step:after{border-left: 10px solid #eaeaea;}

.object-add__progress .progress-pie{
	font-size: 12px!important;
	font-family: 'SegoeUI', sans-serif!important;
	font-weight: 600!important;
	line-height: 1.3;
	width: 30px!important;
	margin-left: -36px!important;
}
.progress-mark{
	position: absolute;
	background: #3eb4c5;
	height: 2px;
	top: -2px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}







.js-object-list-select .list-wrap .list-item.selected{display: none;}
.js-object-list-select .field-item_list-result.clear{display: none;}


.js-targ.out-found{display: none;}









/**/


.lk-blocks{
	display: table;
	width: 100%;
	padding: 0;
	color: #383838;
}
.lk-blocks a{
	color: #3eb4c5;
}
.lk-blocks .blocks__left{
	display: table-cell;
	width: 580px;
	border-right: 1px solid #e7e7e7;
	padding: 15px 18px;
}
.lk-blocks .blocks__right{
	display: table-cell;
	padding: 15px;
	vertical-align: top;
}

@media (max-width: 1800px) {
	.lk-blocks{
		display: block;
	}
	.lk-blocks .blocks__left{
		display: block;
		width: auto;
		border-right: none;
	}
	.lk-blocks .blocks__right{
		display: block;
	}
}




.lk-blocks .block{
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 0 15px;
	font-size: 14px;
	vertical-align: top;
}
.lk-blocks .block-head{
	padding-bottom: 10px;
	position: relative;
}
.lk-blocks .block-head .block-right{
	position: absolute;
	right: 0;
	top: 0;
}
.lk-blocks .block-head .block-right .add{
	color: #70c63f;
}
.lk-blocks .block-head .block-right .add:before{
	content: '+';
	position: absolute;
	margin-left: -15px;
}
.lk-blocks .blocks__left .block-head{
	padding-left: 20px;
	padding-right: 20px;
}
.lk-blocks .block-title{
	color: #959595;
	margin-top: 5px;
}
.lk-blocks .block-title .more{
	font-size: 12px;
	color: #959595;
}

.lk-blocks .blocks__left .block-body{
	padding-left: 20px;
}
.lk-blocks .block-cup{
	text-align: center;
	border: 2px dashed #cfcfcf;
	padding: 18px;
}
.lk-blocks .block-cup .cup-text{
	color: #959595;
	margin-top: -3px;
}
.lk-blocks .block-cup .cup-btn{
	margin-top: 7px;
}


.lk-blocks .block-border{
	border: 1px solid #cfcfcf;
	margin: 9px 0 0 0;
	padding: 10px 20px 15px ;
}
.lk-blocks .block-border .block{
	border: none;
	padding: 0;
}

.lk-blocks .block-column{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.lk-blocks .block_profile .block-column{padding-left: 25px;}
.lk-blocks .block_profile .block-column_img{text-align: center;}
.lk-blocks .block_profile .block-column_img img{
	display: block;
	margin: 0 auto 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 160px;
	width: 160px;
}
.lk-blocks .block_profile .profile-title {
	height: 100px;
}
.lk-blocks .block_profile .profile-title .name{
	font-size: 30px;
	font-weight: 600;
}
.lk-blocks .block_profile .profile-title .descr{
	font-size: 16px;
	color: #959595;
}
.lk-blocks .block_profile .profile-menu a{
	font-size: 14px;
	color: #383838;
	text-decoration: none;
}
.lk-blocks .block_profile .profile-menu li{
	border-top: 1px solid #e7e7e7;
	padding: 10px 0;
}
.lk-blocks .block_profile .profile-menu li:first-child{
	border-top: none;
}
.lk-blocks .block_profile .profile-menu .ico_mail{
	width: 18px;
	height: 15px;
	background: url("../img/ico-mail-d.svg") no-repeat 50% 50%;
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin: 0 15px 0 5px;
}
.lk-blocks .block_profile .profile-menu .ico_bell{
	width: 18px;
	height: 15px;
	background: url("../img/ico-bell-d.svg") no-repeat 50% 50%;
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin: 0 15px 0 5px;
}
.lk-blocks .block_profile .profile-menu .ico_set{
	width: 18px;
	height: 15px;
	background: url("../img/ico-set-d.svg") no-repeat 50% 50%;
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin: 0 15px 0 5px;
}
.lk-blocks .block_profile .profile-settings{
	text-align: center;
}
.lk-blocks .block_profile .profile-settings .link{
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #959595;
	margin: 0 5px;
}
.lk-blocks .block_profile .profile-settings .link_add{display: none;}
.lk-blocks .block_profile .profile-settings_no .link_add{display: inline-block;}
.lk-blocks .block_profile .profile-settings_no .link_remove{display: none;}
.lk-blocks .block_profile .profile-settings_no .link_change{display: none;}

.lk-blocks .block_profile .profile-settings input{
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}



.lk-blocks .block-wrap{
	font-size: 0;
}
.lk-blocks .block-column_payments{
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
	width: 67%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 10px;
}
.lk-blocks .block-column_payments table td{
	font-size: 12px;
	padding: 2px 0;
}
.lk-blocks .block-column_payments table td.price{
	font-size: 16px;
}

.lk-blocks .block-column_balance{
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
	width: 33%;
	text-align: center;
}
.lk-blocks .block-column_balance .block-val{
	font-size: 36px;
	margin-bottom: 10px;
}
.lk-blocks .block-column_payments .block{height: 125px;}
.lk-blocks .block-column_balance .block{height: 125px;}




.block_aboutcompany{}
.block_aboutcompany .block-edit .block-input{margin-bottom: 10px}
.block_aboutcompany .block-edit textarea{height: 70px;padding-right: 70px;}
.block_aboutcompany .block-edit .input__notepad,
.block_aboutcompany .block-edit .input__clear{
	margin-right: 15px;
}
.block_aboutcompany .block-edit .block-submit{text-align: right;}

.block_aboutcompany .block-edit{display: none;}
.block_aboutcompany .block-cup{display: none;}
.block_aboutcompany.block_aboutcompany-edit .block-body{display: none;}
.block_aboutcompany.block_aboutcompany-edit .block-edit{display: block;}
.block_aboutcompany.block_aboutcompany-cup .block-body{display: none;}
.block_aboutcompany.block_aboutcompany-cup .block-cup{display: block;}

.block_aboutcompany.block_aboutcompany-edit .block-head .block-right{display: none;}
.block_aboutcompany.block_aboutcompany-cup .block-head .block-right{display: none;}

.lk-blocks .block-body .feedback{}
.lk-blocks .block-body .feedback .feedback-item{
	border: none;
	padding: 0;
}
.lk-blocks .block-body .feedback .feedback-item .feedback-item__answer{
	display: block;
}







.lk-blocks .block_graphics{
	/*font-size: 0;*/
	overflow: hidden;
	border: 0 none;
	margin-right: -10px;
	padding: 0;
}
.lk-blocks .block_graphics .graphic-item{
	/*display: inline-block;*/
	float: left;
	padding: 0 10px 10px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
}
.lk-blocks .block_graphics .graphic-item .graphic-inner{background-color: #24272e;}
.lk-blocks .block_graphics .graphic-item_big{width: 66.6666%;}
.lk-blocks .block_graphics .graphic-item_mid{width: 33.3333%;}
.lk-blocks .block_graphics .graphic-item_sml{width: 25%;}
.lk-blocks .block_graphics .graphic-item_big .graphic-inner{height: 370px;}
.lk-blocks .block_graphics .graphic-item_mid .graphic-inner{height: 180px;}
.lk-blocks .block_graphics .graphic-item_sml .graphic-inner{height: 83px;}

.lk-blocks .block_graphics .graphic-item_sml .graphic-inner{display: table;width: 100%;}
.lk-blocks .block_graphics .graphic-item_sml .img{display: table-cell;vertical-align: middle; padding: 0 0 0 15px;}
.lk-blocks .block_graphics .graphic-item_sml .img .icon{
	width: 63px;
	height: 63px;
	background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}
.lk-blocks .block_graphics .graphic-item_sml .img .icon:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.lk-blocks .block_graphics .graphic-item_sml .img .icon img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}

.lk-blocks .block_graphics .graphic-item_sml .text{
	display: table-cell;
	color: #fff;
	text-align: right;
	padding: 15px 15px 0 0;
}
.lk-blocks .block_graphics .graphic-item_sml .text .name{}
.lk-blocks .block_graphics .graphic-item_sml .text .num{font-size: 20px;font-weight: 300;}
.lk-blocks .block_graphics .graphic-item_sml .text .num span{color: #70c63f;}


.lk-table tr:hover td{
	background-color: #f5f5f5;
}


.lk-table_list{width: 100%;}
.lk-table_list td{
	vertical-align: middle;
	padding: 5px 0;
	color: #4b4b4b;
	font-size: 15px;
}
.lk-table_list td .text{
	color: #383838;
}
.lk-table_list td .title{
	font-size: 18px;
}
.lk-table_list td .footnote{
	color: #959595;
	font-size: 14px;
}
.lk-table_list td.img{width: 65px}
.lk-table_list td.img img{
	width: 47px;
	height: 47px;
	border: 1px solid #d5d5d5;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	display: block;
}
.lk-table_list.notify td{
	font-size: 14px;
	color: #959595;
	padding: 3px 0;
}
.lk-table_list.notify td.delete{
	font-size: 16px;
}
.lk-table_list.notify td .footnote{
	font-size: 12px;
}
.lk-table_list.notify .new td{
	color: #323232;
}



























textarea.error,
.error textarea,
input.error,
.error input{border-color: #f00!important;}


.must-required input,
.must-required .sbHolder
{
	border-color: #f00!important;
}












/*	Footer start
*****************************************************************************/



