/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea, input {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	}

html, body {
	-webkit-text-size-adjust: none;
	-webkit-text-size-adjust: none!important;
	-ms-text-size-adjust: none;
	-ms-text-size-adjust: none!important;
	text-size-adjust: none;
	text-size-adjust: none!important;
	}	

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, main, section, summary {
	display: block;
	}

ol, ul {
	list-style: none;
	}

blockquote, q {
	quotes: none;
	}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
	}

/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
	}

body {
	font: 14px/18px Arial, sans-serif;
	width: 100%;
	height: 100%; /*необходимо для прижатия футера к низу*/
	line-height: 1;
	}

* {outline:none;}

input::-webkit-search-cancel-button {display: none;} 	/*убираем кнопку очищения формы в WebKit браузерах*/
label {											   	/*запрет выделения при клике на тег <label>. */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
	text-decoration:underline;
	color:inherit;
	}

.clearfix:after, .clearfix:before{
	content:'';
	display:table;
	clear:both;
	}

a:hover {
	text-decoration:none;
	}


.checkbox-case{}
.checkbox-case input{
	opacity: 0;
	position: absolute;
}
.checkbox-case input + .marker{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #d0d0cf;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	top: 3px;
	margin: 0 10px;
}
.checkbox-case input:checked + .marker{
	border-color: #3eb4c6;
	background: #3eb4c6 url("../img/checkbox.svg") no-repeat 60% 50%;
}

